In [1]:
import psycopg2 as ps
import pandas as pd
import numpy as np

In [2]:
myDataFrame = pd.read_csv('500-us-users.csv')
myDataFrame

,first_name,last_name,address,city,county,state,zip,phone1,phone2
0,James,Butt,6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427
1,Josephine,Darakjy,4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840
2,Art,Venere,8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130
3,Lenna,Paprocki,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010
4,Donette,Foller,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561
...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848
496,Raylene,Kampa,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884
497,Flo,Bookamer,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987
498,Jani,Biddy,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284
499,Chauncey,Motley,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857

In [3]:
myDataFrame1 = myDataFrame.T.head(7).T
myDataFrame1

,first_name,last_name,address,city,county,state,zip
0,James,Butt,6649 N Blue Gum St,New Orleans,Orleans,LA,70116
1,Josephine,Darakjy,4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116
2,Art,Venere,8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014
3,Lenna,Paprocki,639 Main St,Anchorage,Anchorage,AK,99501
4,Donette,Foller,34 Center St,Hamilton,Butler,OH,45011
...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,67 Rv Cent,Boise,Ada,ID,83709
496,Raylene,Kampa,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514
497,Flo,Bookamer,89992 E 15th St,Alliance,Box Butte,NE,69301
498,Jani,Biddy,61556 W 20th Ave,Seattle,King,WA,98104
499,Chauncey,Motley,63 E Aurora Dr,Orlando,Orange,FL,32804

In [4]:
myDataFrame2 = myDataFrame.T.tail(2).T
myDataFrame2

           phone1        phone2
0    504-621-8927  504-845-1427
1    810-292-9388  810-374-9840
2    856-636-8749  856-264-4130
3    907-385-4412  907-921-2010
4    513-570-1893  513-549-4561
..            ...           ...
495  208-709-1235  208-206-9848
496  574-499-1454  574-330-1884
497  308-726-2182  308-250-6987
498  206-711-6498  206-395-6284
499  407-413-4842  407-557-8857

[500 rows x 2 columns]

In [5]:
connection = ps.connect(database="postgres", user="postgres", password="postgres", host="127.0.0.1", port="5432")

query = connection.cursor()

query.execute("create schema if not exists usa_users")

query.execute("SET search_path TO usa_users")

In [6]:
phoneTable = "phone"
usersTable = "userdetails"

createPhoneTable = "create table "+phoneTable+ "(phone_id numeric(5,0) not null primary key, phone1 varchar(50) not null, phone2 varchar(50) not null);"
query.execute(createPhoneTable)

In [7]:
createUsersTable = "create table "+usersTable+ "(user_id numeric(5,0) not null primary key, first_name varchar(50) not null, last_name varchar(50) not null, address varchar(100) not null,city varchar(50) not null, county varchar(20) not null, state varchar(50) not null, zip varchar(10) not null,phone_id numeric(5,0) not null);"
query.execute(createUsersTable)

In [8]:
for index, row in myDataFrame1.iterrows():
    insertdata = "('"+str(index)+ "', '"+row[0]+"','"+str(row[1])+"','"+str(row[2])+"','"+str(row[3])+"','"+str(row[4])+"','"+str(row[5])+"','"+str(row[6])+"', '"+str(index)+ "')"
    
    query.execute("INSERT INTO userdetails values "+insertdata)
    print( "row inserted:", insertdata)

row inserted: ('0', 'James','Butt','6649 N Blue Gum St','New Orleans','Orleans','LA','70116', '0')
row inserted: ('1', 'Josephine','Darakjy','4 B Blue Ridge Blvd','Brighton','Livingston','MI','48116', '1')
row inserted: ('2', 'Art','Venere','8 W Cerritos Ave #54','Bridgeport','Gloucester','NJ','8014', '2')
row inserted: ('3', 'Lenna','Paprocki','639 Main St','Anchorage','Anchorage','AK','99501', '3')
row inserted: ('4', 'Donette','Foller','34 Center St','Hamilton','Butler','OH','45011', '4')
row inserted: ('5', 'Simona','Morasca','3 Mcauley Dr','Ashland','Ashland','OH','44805', '5')
row inserted: ('6', 'Mitsue','Tollner','7 Eads St','Chicago','Cook','IL','60632', '6')
row inserted: ('7', 'Leota','Dilliard','7 W Jackson Blvd','San Jose','Santa Clara','CA','95111', '7')
row inserted: ('8', 'Sage','Wieser','5 Boston Ave #88','Sioux Falls','Minnehaha','SD','57105', '8')
row inserted: ('9', 'Kris','Marrier','228 Runamuck Pl #2808','Baltimore','Baltimore City','MD','21224', '9')
row inserted: ('10', 'Minna','Amigon','2371 Jerrold Ave','Kulpsville','Montgomery','PA','19443', '10')
row inserted: ('11', 'Abel','Maclead','37275 St  Rt 17m M','Middle Island','Suffolk','NY','11953', '11')
row inserted: ('12', 'Kiley','Caldarera','25 E 75th St #69','Los Angeles','Los Angeles','CA','90034', '12')
row inserted: ('13', 'Graciela','Ruta','98 Connecticut Ave Nw','Chagrin Falls','Geauga','OH','44023', '13')
row inserted: ('14', 'Cammy','Albares','56 E Morehead St','Laredo','Webb','TX','78045', '14')
row inserted: ('15', 'Mattie','Poquette','73 State Road 434 E','Phoenix','Maricopa','AZ','85013', '15')
row inserted: ('16', 'Meaghan','Garufi','69734 E Carrillo St','Mc Minnville','Warren','TN','37110', '16')
row inserted: ('17', 'Gladys','Rim','322 New Horizon Blvd','Milwaukee','Milwaukee','WI','53207', '17')
row inserted: ('18', 'Yuki','Whobrey','1 State Route 27','Taylor','Wayne','MI','48180', '18')
row inserted: ('19', 'Fletcher','Flosi','394 Manchester Blvd','Rockford','Winnebago','IL','61109', '19')
row inserted: ('20', 'Bette','Nicka','6 S 33rd St','Aston','Delaware','PA','19014', '20')
row inserted: ('21', 'Veronika','Inouye','6 Greenleaf Ave','San Jose','Santa Clara','CA','95111', '21')
row inserted: ('22', 'Willard','Kolmetz','618 W Yakima Ave','Irving','Dallas','TX','75062', '22')
row inserted: ('23', 'Maryann','Royster','74 S Westgate St','Albany','Albany','NY','12204', '23')
row inserted: ('24', 'Alisha','Slusarski','3273 State St','Middlesex','Middlesex','NJ','8846', '24')
row inserted: ('25', 'Allene','Iturbide','1 Central Ave','Stevens Point','Portage','WI','54481', '25')
row inserted: ('26', 'Chanel','Caudy','86 Nw 66th St #8673','Shawnee','Johnson','KS','66218', '26')
row inserted: ('27', 'Ezekiel','Chui','2 Cedar Ave #84','Easton','Talbot','MD','21601', '27')
row inserted: ('28', 'Willow','Kusko','90991 Thorburn Ave','New York','New York','NY','10011', '28')
row inserted: ('29', 'Bernardo','Figeroa','386 9th Ave N','Conroe','Montgomery','TX','77301', '29')
row inserted: ('30', 'Ammie','Corrio','74874 Atlantic Ave','Columbus','Franklin','OH','43215', '30')
row inserted: ('31', 'Francine','Vocelka','366 South Dr','Las Cruces','Dona Ana','NM','88011', '31')
row inserted: ('32', 'Ernie','Stenseth','45 E Liberty St','Ridgefield Park','Bergen','NJ','7660', '32')
row inserted: ('33', 'Albina','Glick','4 Ralph Ct','Dunellen','Middlesex','NJ','8812', '33')
row inserted: ('34', 'Alishia','Sergi','2742 Distribution Way','New York','New York','NY','10025', '34')
row inserted: ('35', 'Solange','Shinko','426 Wolf St','Metairie','Jefferson','LA','70002', '35')
row inserted: ('36', 'Jose','Stockham','128 Bransten Rd','New York','New York','NY','10011', '36')
row inserted: ('37', 'Rozella','Ostrosky','17 Morena Blvd','Camarillo','Ventura','CA','93012', '37')
row inserted: ('38', 'Valentine','Gillian','775 W 17th St','San Antonio','Bexar','TX','78204', '38')
row inserted: ('39', 'Kati','Rulapaugh','6980 Dorsett Rd','Abilene','Dickinson','KS','67410', '39')
row inserted: ('40', 'Youlanda','Schemmer','2881 Lewis Rd','Prineville','Crook','OR','97754', '40')
row inserted: ('41', 'Dyan','Oldroyd','7219 Woodfield Rd','Overland Park','Johnson','KS','66204', '41')
row inserted: ('42', 'Roxane','Campain','1048 Main St','Fairbanks','Fairbanks North Star','AK','99708', '42')
row inserted: ('43', 'Lavera','Perin','678 3rd Ave','Miami','Miami-Dade','FL','33196', '43')
row inserted: ('44', 'Erick','Ferencz','20 S Babcock St','Fairbanks','Fairbanks North Star','AK','99712', '44')
row inserted: ('45', 'Fatima','Saylors','2 Lighthouse Ave','Hopkins','Hennepin','MN','55343', '45')
row inserted: ('46', 'Jina','Briddick','38938 Park Blvd','Boston','Suffolk','MA','2128', '46')
row inserted: ('47', 'Kanisha','Waycott','5 Tomahawk Dr','Los Angeles','Los Angeles','CA','90006', '47')
row inserted: ('48', 'Emerson','Bowley','762 S Main St','Madison','Dane','WI','53711', '48')
row inserted: ('49', 'Blair','Malet','209 Decker Dr','Philadelphia','Philadelphia','PA','19132', '49')
row inserted: ('50', 'Brock','Bolognia','4486 W O St #1','New York','New York','NY','10003', '50')
row inserted: ('51', 'Lorrie','Nestle','39 S 7th St','Tullahoma','Coffee','TN','37388', '51')
row inserted: ('52', 'Sabra','Uyetake','98839 Hawthorne Blvd #6101','Columbia','Richland','SC','29201', '52')
row inserted: ('53', 'Marjory','Mastella','71 San Mateo Ave','Wayne','Delaware','PA','19087', '53')
row inserted: ('54', 'Karl','Klonowski','76 Brooks St #9','Flemington','Hunterdon','NJ','8822', '54')
row inserted: ('55', 'Tonette','Wenner','4545 Courthouse Rd','Westbury','Nassau','NY','11590', '55')
row inserted: ('56', 'Amber','Monarrez','14288 Foster Ave #4121','Jenkintown','Montgomery','PA','19046', '56')
row inserted: ('57', 'Shenika','Seewald','4 Otis St','Van Nuys','Los Angeles','CA','91405', '57')
row inserted: ('58', 'Delmy','Ahle','65895 S 16th St','Providence','Providence','RI','2909', '58')
row inserted: ('59', 'Deeanna','Juhas','14302 Pennsylvania Ave','Huntingdon Valley','Montgomery','PA','19006', '59')
row inserted: ('60', 'Blondell','Pugh','201 Hawk Ct','Providence','Providence','RI','2904', '60')
row inserted: ('61', 'Jamal','Vanausdal','53075 Sw 152nd Ter #615','Monroe Township','Middlesex','NJ','8831', '61')
row inserted: ('62', 'Cecily','Hollack','59 N Groesbeck Hwy','Austin','Travis','TX','78731', '62')
row inserted: ('63', 'Carmelina','Lindall','2664 Lewis Rd','Littleton','Douglas','CO','80126', '63')
row inserted: ('64', 'Maurine','Yglesias','59 Shady Ln #53','Milwaukee','Milwaukee','WI','53214', '64')
row inserted: ('65', 'Tawna','Buvens','3305 Nabell Ave #679','New York','New York','NY','10009', '65')
row inserted: ('66', 'Penney','Weight','18 Fountain St','Anchorage','Anchorage','AK','99515', '66')
row inserted: ('67', 'Elly','Morocco','7 W 32nd St','Erie','Erie','PA','16502', '67')
row inserted: ('68', 'Ilene','Eroman','2853 S Central Expy','Glen Burnie','Anne Arundel','MD','21061', '68')
row inserted: ('69', 'Vallie','Mondella','74 W College St','Boise','Ada','ID','83707', '69')
row inserted: ('70', 'Kallie','Blackwood','701 S Harrison Rd','San Francisco','San Francisco','CA','94104', '70')
row inserted: ('71', 'Johnetta','Abdallah','1088 Pinehurst St','Chapel Hill','Orange','NC','27514', '71')
row inserted: ('72', 'Bobbye','Rhym','30 W 80th St #1995','San Carlos','San Mateo','CA','94070', '72')
row inserted: ('73', 'Micaela','Rhymes','20932 Hedley St','Concord','Contra Costa','CA','94520', '73')
row inserted: ('74', 'Tamar','Hoogland','2737 Pistorio Rd #9230','London','Madison','OH','43140', '74')
row inserted: ('75', 'Moon','Parlato','74989 Brandon St','Wellsville','Allegany','NY','14895', '75')
row inserted: ('76', 'Laurel','Reitler','6 Kains Ave','Baltimore','Baltimore City','MD','21215', '76')
row inserted: ('77', 'Delisa','Crupi','47565 W Grand Ave','Newark','Essex','NJ','7105', '77')
row inserted: ('78', 'Viva','Toelkes','4284 Dorigo Ln','Chicago','Cook','IL','60647', '78')
row inserted: ('79', 'Elza','Lipke','6794 Lake Dr E','Newark','Essex','NJ','7104', '79')
row inserted: ('80', 'Devorah','Chickering','31 Douglas Blvd #950','Clovis','Curry','NM','88101', '80')
row inserted: ('81', 'Timothy','Mulqueen','44 W 4th St','Staten Island','Richmond','NY','10309', '81')
row inserted: ('82', 'Arlette','Honeywell','11279 Loytan St','Jacksonville','Duval','FL','32254', '82')
row inserted: ('83', 'Dominque','Dickerson','69 Marquette Ave','Hayward','Alameda','CA','94545', '83')
row inserted: ('84', 'Lettie','Isenhower','70 W Main St','Beachwood','Cuyahoga','OH','44122', '84')
row inserted: ('85', 'Myra','Munns','461 Prospect Pl #316','Euless','Tarrant','TX','76040', '85')
row inserted: ('86', 'Stephaine','Barfield','47154 Whipple Ave Nw','Gardena','Los Angeles','CA','90247', '86')
row inserted: ('87', 'Lai','Gato','37 Alabama Ave','Evanston','Cook','IL','60201', '87')
row inserted: ('88', 'Stephen','Emigh','3777 E Richmond St #900','Akron','Summit','OH','44302', '88')
row inserted: ('89', 'Tyra','Shields','3 Fort Worth Ave','Philadelphia','Philadelphia','PA','19106', '89')
row inserted: ('90', 'Tammara','Wardrip','4800 Black Horse Pike','Burlingame','San Mateo','CA','94010', '90')
row inserted: ('91', 'Cory','Gibes','83649 W Belmont Ave','San Gabriel','Los Angeles','CA','91776', '91')
row inserted: ('92', 'Danica','Bruschke','840 15th Ave','Waco','McLennan','TX','76708', '92')
row inserted: ('93', 'Wilda','Giguere','1747 Calle Amanecer #2','Anchorage','Anchorage','AK','99501', '93')
row inserted: ('94', 'Elvera','Benimadho','99385 Charity St #840','San Jose','Santa Clara','CA','95110', '94')
row inserted: ('95', 'Carma','Vanheusen','68556 Central Hwy','San Leandro','Alameda','CA','94577', '95')
row inserted: ('96', 'Malinda','Hochard','55 Riverside Ave','Indianapolis','Marion','IN','46202', '96')
row inserted: ('97', 'Natalie','Fern','7140 University Ave','Rock Springs','Sweetwater','WY','82901', '97')
row inserted: ('98', 'Lisha','Centini','64 5th Ave #1153','Mc Lean','Fairfax','VA','22102', '98')
row inserted: ('99', 'Arlene','Klusman','3 Secor Rd','New Orleans','Orleans','LA','70112', '99')
row inserted: ('100', 'Alease','Buemi','4 Webbs Chapel Rd','Boulder','Boulder','CO','80303', '100')
row inserted: ('101', 'Louisa','Cronauer','524 Louisiana Ave Nw','San Leandro','Alameda','CA','94577', '101')
row inserted: ('102', 'Angella','Cetta','185 Blackstone Bldge','Honolulu','Honolulu','HI','96817', '102')
row inserted: ('103', 'Cyndy','Goldammer','170 Wyoming Ave','Burnsville','Dakota','MN','55337', '103')
row inserted: ('104', 'Rosio','Cork','4 10th St W','High Point','Guilford','NC','27263', '104')
row inserted: ('105', 'Celeste','Korando','7 W Pinhook Rd','Lynbrook','Nassau','NY','11563', '105')
row inserted: ('106', 'Twana','Felger','1 Commerce Way','Portland','Washington','OR','97224', '106')
row inserted: ('107', 'Estrella','Samu','64 Lakeview Ave','Beloit','Rock','WI','53511', '107')
row inserted: ('108', 'Donte','Kines','3 Aspen St','Worcester','Worcester','MA','1602', '108')
row inserted: ('109', 'Tiffiny','Steffensmeier','32860 Sierra Rd','Miami','Miami-Dade','FL','33133', '109')
row inserted: ('110', 'Edna','Miceli','555 Main St','Erie','Erie','PA','16502', '110')
row inserted: ('111', 'Sue','Kownacki','2 Se 3rd Ave','Mesquite','Dallas','TX','75149', '111')
row inserted: ('112', 'Jesusa','Shin','2239 Shawnee Mission Pky','Tullahoma','Coffee','TN','37388', '112')
row inserted: ('113', 'Rolland','Francescon','2726 Charcot Ave','Paterson','Passaic','NJ','7501', '113')
row inserted: ('114', 'Pamella','Schmierer','5161 Dorsett Rd','Homestead','Miami-Dade','FL','33030', '114')
row inserted: ('115', 'Glory','Kulzer','55892 Jacksonville Rd','Owings Mills','Baltimore','MD','21117', '115')
row inserted: ('116', 'Shawna','Palaspas','5 N Cleveland Massillon Rd','Thousand Oaks','Ventura','CA','91362', '116')
row inserted: ('117', 'Brandon','Callaro','7 Benton Dr','Honolulu','Honolulu','HI','96819', '117')
row inserted: ('118', 'Scarlet','Cartan','9390 S Howell Ave','Albany','Dougherty','GA','31701', '118')
row inserted: ('119', 'Oretha','Menter','8 County Center Dr #647','Boston','Suffolk','MA','2210', '119')
row inserted: ('120', 'Ty','Smith','4646 Kaahumanu St','Hackensack','Bergen','NJ','7601', '120')
row inserted: ('121', 'Xuan','Rochin','2 Monroe St','San Mateo','San Mateo','CA','94403', '121')
row inserted: ('122', 'Lindsey','Dilello','52777 Leaders Heights Rd','Ontario','San Bernardino','CA','91761', '122')
row inserted: ('123', 'Devora','Perez','72868 Blackington Ave','Oakland','Alameda','CA','94606', '123')
row inserted: ('124', 'Herman','Demesa','9 Norristown Rd','Troy','Rensselaer','NY','12180', '124')
row inserted: ('125', 'Rory','Papasergi','83 County Road 437 #8581','Clarks Summit','Lackawanna','PA','18411', '125')
row inserted: ('126', 'Talia','Riopelle','1 N Harlem Ave #9','Orange','Essex','NJ','7050', '126')
row inserted: ('127', 'Van','Shire','90131 J St','Pittstown','Hunterdon','NJ','8867', '127')
row inserted: ('128', 'Lucina','Lary','8597 W National Ave','Cocoa','Brevard','FL','32922', '128')
row inserted: ('129', 'Bok','Isaacs','6 Gilson St','Bronx','Bronx','NY','10468', '129')
row inserted: ('130', 'Rolande','Spickerman','65 W Maple Ave','Pearl City','Honolulu','HI','96782', '130')
row inserted: ('131', 'Howard','Paulas','866 34th Ave','Denver','Denver','CO','80231', '131')
row inserted: ('132', 'Kimbery','Madarang','798 Lund Farm Way','Rockaway','Morris','NJ','7866', '132')
row inserted: ('133', 'Thurman','Manno','9387 Charcot Ave','Absecon','Atlantic','NJ','8201', '133')
row inserted: ('134', 'Becky','Mirafuentes','30553 Washington Rd','Plainfield','Union','NJ','7062', '134')
row inserted: ('135', 'Beatriz','Corrington','481 W Lemon St','Middleboro','Plymouth','MA','2346', '135')
row inserted: ('136', 'Marti','Maybury','4 Warehouse Point Rd #7','Chicago','Cook','IL','60638', '136')
row inserted: ('137', 'Nieves','Gotter','4940 Pulaski Park Dr','Portland','Multnomah','OR','97202', '137')
row inserted: ('138', 'Leatha','Hagele','627 Walford Ave','Dallas','Dallas','TX','75227', '138')
row inserted: ('139', 'Valentin','Klimek','137 Pioneer Way','Chicago','Cook','IL','60604', '139')
row inserted: ('140', 'Melissa','Wiklund','61 13 Stoneridge #835','Findlay','Hancock','OH','45840', '140')
row inserted: ('141', 'Sheridan','Zane','2409 Alabama Rd','Riverside','Riverside','CA','92501', '141')
row inserted: ('142', 'Bulah','Padilla','8927 Vandever Ave','Waco','McLennan','TX','76707', '142')
row inserted: ('143', 'Audra','Kohnert','134 Lewis Rd','Nashville','Davidson','TN','37211', '143')
row inserted: ('144', 'Daren','Weirather','9 N College Ave #3','Milwaukee','Milwaukee','WI','53216', '144')
row inserted: ('145', 'Fernanda','Jillson','60480 Old Us Highway 51','Preston','Caroline','MD','21655', '145')
row inserted: ('146', 'Gearldine','Gellinger','4 Bloomfield Ave','Irving','Dallas','TX','75061', '146')
row inserted: ('147', 'Chau','Kitzman','429 Tiger Ln','Beverly Hills','Los Angeles','CA','90212', '147')
row inserted: ('148', 'Theola','Frey','54169 N Main St','Massapequa','Nassau','NY','11758', '148')
row inserted: ('149', 'Cheryl','Haroldson','92 Main St','Atlantic City','Atlantic','NJ','8401', '149')
row inserted: ('150', 'Laticia','Merced','72 Mannix Dr','Cincinnati','Hamilton','OH','45203', '150')
row inserted: ('151', 'Carissa','Batman','12270 Caton Center Dr','Eugene','Lane','OR','97401', '151')
row inserted: ('152', 'Lezlie','Craghead','749 W 18th St #45','Smithfield','Johnston','NC','27577', '152')
row inserted: ('153', 'Ozell','Shealy','8 Industry Ln','New York','New York','NY','10002', '153')
row inserted: ('154', 'Arminda','Parvis','1 Huntwood Ave','Phoenix','Maricopa','AZ','85017', '154')
row inserted: ('155', 'Reita','Leto','55262 N French Rd','Indianapolis','Marion','IN','46240', '155')
row inserted: ('156', 'Yolando','Luczki','422 E 21st St','Syracuse','Onondaga','NY','13214', '156')
row inserted: ('157', 'Lizette','Stem','501 N 19th Ave','Cherry Hill','Camden','NJ','8002', '157')
row inserted: ('158', 'Gregoria','Pawlowicz','455 N Main Ave','Garden City','Nassau','NY','11530', '158')
row inserted: ('159', 'Carin','Deleo','1844 Southern Blvd','Little Rock','Pulaski','AR','72202', '159')
row inserted: ('160', 'Chantell','Maynerich','2023 Greg St','Saint Paul','Ramsey','MN','55101', '160')
row inserted: ('161', 'Dierdre','Yum','63381 Jenks Ave','Philadelphia','Philadelphia','PA','19134', '161')
row inserted: ('162', 'Larae','Gudroe','6651 Municipal Rd','Houma','Terrebonne','LA','70360', '162')
row inserted: ('163', 'Latrice','Tolfree','81 Norris Ave #525','Ronkonkoma','Suffolk','NY','11779', '163')
row inserted: ('164', 'Kerry','Theodorov','6916 W Main St','Sacramento','Sacramento','CA','95827', '164')
row inserted: ('165', 'Dorthy','Hidvegi','9635 S Main St','Boise','Ada','ID','83704', '165')
row inserted: ('166', 'Fannie','Lungren','17 Us Highway 111','Round Rock','Williamson','TX','78664', '166')
row inserted: ('167', 'Evangelina','Radde','992 Civic Center Dr','Philadelphia','Philadelphia','PA','19123', '167')
row inserted: ('168', 'Novella','Degroot','303 N Radcliffe St','Hilo','Hawaii','HI','96720', '168')
row inserted: ('169', 'Clay','Hoa','73 Saint Ann St #86','Reno','Washoe','NV','89502', '169')
row inserted: ('170', 'Jennifer','Fallick','44 58th St','Wheeling','Cook','IL','60090', '170')
row inserted: ('171', 'Irma','Wolfgramm','9745 W Main St','Randolph','Morris','NJ','7869', '171')
row inserted: ('172', 'Eun','Coody','84 Bloomfield Ave','Spartanburg','Spartanburg','SC','29301', '172')
row inserted: ('173', 'Sylvia','Cousey','287 Youngstown Warren Rd','Hampstead','Carroll','MD','21074', '173')
row inserted: ('174', 'Nana','Wrinkles','6 Van Buren St','Mount Vernon','Westchester','NY','10553', '174')
row inserted: ('175', 'Layla','Springe','229 N Forty Driv','New York','New York','NY','10011', '175')
row inserted: ('176', 'Joesph','Degonia','2887 Knowlton St #5435','Berkeley','Alameda','CA','94710', '176')
row inserted: ('177', 'Annabelle','Boord','523 Marquette Ave','Concord','Middlesex','MA','1742', '177')
row inserted: ('178', 'Stephaine','Vinning','3717 Hamann Industrial Pky','San Francisco','San Francisco','CA','94104', '178')
row inserted: ('179', 'Nelida','Sawchuk','3 State Route 35 S','Paramus','Bergen','NJ','7652', '179')
row inserted: ('180', 'Marguerita','Hiatt','82 N Highway 67','Oakley','Contra Costa','CA','94561', '180')
row inserted: ('181', 'Carmela','Cookey','9 Murfreesboro Rd','Chicago','Cook','IL','60623', '181')
row inserted: ('182', 'Junita','Brideau','6 S Broadway St','Cedar Grove','Essex','NJ','7009', '182')
row inserted: ('183', 'Claribel','Varriano','6 Harry L Dr #6327','Perrysburg','Wood','OH','43551', '183')
row inserted: ('184', 'Benton','Skursky','47939 Porter Ave','Gardena','Los Angeles','CA','90248', '184')
row inserted: ('185', 'Hillary','Skulski','9 Wales Rd Ne #914','Homosassa','Citrus','FL','34448', '185')
row inserted: ('186', 'Merilyn','Bayless','195 13n N','Santa Clara','Santa Clara','CA','95054', '186')
row inserted: ('187', 'Teri','Ennaco','99 Tank Farm Rd','Hazleton','Luzerne','PA','18201', '187')
row inserted: ('188', 'Merlyn','Lawler','4671 Alemany Blvd','Jersey City','Hudson','NJ','7304', '188')
row inserted: ('189', 'Georgene','Montezuma','98 University Dr','San Ramon','Contra Costa','CA','94583', '189')
row inserted: ('190', 'Jettie','Mconnell','50 E Wacker Dr','Bridgewater','Somerset','NJ','8807', '190')
row inserted: ('191', 'Lemuel','Latzke','70 Euclid Ave #722','Bohemia','Suffolk','NY','11716', '191')
row inserted: ('192', 'Melodie','Knipp','326 E Main St #6496','Thousand Oaks','Ventura','CA','91362', '192')
row inserted: ('193', 'Candida','Corbley','406 Main St','Somerville','Somerset','NJ','8876', '193')
row inserted: ('194', 'Karan','Karpin','3 Elmwood Dr','Beaverton','Washington','OR','97005', '194')

row inserted: ('208', 'Mozell','Pelkowski','577 Parade St','South San Francisco','San Mateo','CA','94080', '208')
row inserted: ('209', 'Viola','Bitsuie','70 Mechanic St','Northridge','Los Angeles','CA','91325', '209')
row inserted: ('210', 'Franklyn','Emard','4379 Highway 116','Philadelphia','Philadelphia','PA','19103', '210')
row inserted: ('211', 'Willodean','Konopacki','55 Hawthorne Blvd','Lafayette','Lafayette','LA','70506', '211')
row inserted: ('212', 'Beckie','Silvestrini','7116 Western Ave','Dearborn','Wayne','MI','48126', '212')
row inserted: ('213', 'Rebecka','Gesick','2026 N Plankinton Ave #3','Austin','Travis','TX','78754', '213')
row inserted: ('214', 'Frederica','Blunk','99586 Main St','Dallas','Dallas','TX','75207', '214')
row inserted: ('215', 'Glen','Bartolet','8739 Hudson St','Vashon','King','WA','98070', '215')
row inserted: ('216', 'Freeman','Gochal','383 Gunderman Rd #197','Coatesville','Chester','PA','19320', '216')
row inserted: ('217', 'Vincent','Meinerding','4441 Point Term Mkt','Philadelphia','Philadelphia','PA','19143', '217')
row inserted: ('218', 'Rima','Bevelacqua','2972 Lafayette Ave','Gardena','Los Angeles','CA','90248', '218')
row inserted: ('219', 'Glendora','Sarbacher','2140 Diamond Blvd','Rohnert Park','Sonoma','CA','94928', '219')
row inserted: ('220', 'Avery','Steier','93 Redmond Rd #492','Orlando','Orange','FL','32803', '220')
row inserted: ('221', 'Cristy','Lother','3989 Portage Tr','Escondido','San Diego','CA','92025', '221')
row inserted: ('222', 'Nicolette','Brossart','1 Midway Rd','Westborough','Worcester','MA','1581', '222')
row inserted: ('223', 'Tracey','Modzelewski','77132 Coon Rapids Blvd Nw','Conroe','Montgomery','TX','77301', '223')
row inserted: ('224', 'Virgina','Tegarden','755 Harbor Way','Milwaukee','Milwaukee','WI','53226', '224')
row inserted: ('225', 'Tiera','Frankel','87 Sierra Rd','El Monte','Los Angeles','CA','91731', '225')
row inserted: ('226', 'Alaine','Bergesen','7667 S Hulen St #42','Yonkers','Westchester','NY','10701', '226')
row inserted: ('227', 'Earleen','Mai','75684 S Withlapopka Dr #32','Dallas','Dallas','TX','75227', '227')
row inserted: ('228', 'Leonida','Gobern','5 Elmwood Park Blvd','Biloxi','Harrison','MS','39530', '228')
row inserted: ('229', 'Ressie','Auffrey','23 Palo Alto Sq','Miami','Miami-Dade','FL','33134', '229')
row inserted: ('230', 'Justine','Mugnolo','38062 E Main St','New York','New York','NY','10048', '230')
row inserted: ('231', 'Eladia','Saulter','3958 S Dupont Hwy #7','Ramsey','Bergen','NJ','7446', '231')
row inserted: ('232', 'Chaya','Malvin','560 Civic Center Dr','Ann Arbor','Washtenaw','MI','48103', '232')
row inserted: ('233', 'Gwenn','Suffield','3270 Dequindre Rd','Deer Park','Suffolk','NY','11729', '233')
row inserted: ('234', 'Salena','Karpel','1 Garfield Ave #7','Canton','Stark','OH','44707', '234')
row inserted: ('235', 'Yoko','Fishburne','9122 Carpenter Ave','New Haven','New Haven','CT','6511', '235')
row inserted: ('236', 'Taryn','Moyd','48 Lenox St','Fairfax','Fairfax City','VA','22030', '236')
row inserted: ('237', 'Katina','Polidori','5 Little River Tpke','Wilmington','Middlesex','MA','1887', '237')
row inserted: ('238', 'Rickie','Plumer','3 N Groesbeck Hwy','Toledo','Lucas','OH','43613', '238')
row inserted: ('239', 'Alex','Loader','37 N Elm St #916','Tacoma','Pierce','WA','98409', '239')
row inserted: ('240', 'Lashon','Vizarro','433 Westminster Blvd #590','Roseville','Placer','CA','95661', '240')
row inserted: ('241', 'Lauran','Burnard','66697 Park Pl #3224','Riverton','Fremont','WY','82501', '241')
row inserted: ('242', 'Ceola','Setter','96263 Greenwood Pl','Warren','Knox','ME','4864', '242')
row inserted: ('243', 'My','Rantanen','8 Mcarthur Ln','Richboro','Bucks','PA','18954', '243')
row inserted: ('244', 'Lorrine','Worlds','8 Fair Lawn Ave','Tampa','Hillsborough','FL','33614', '244')
row inserted: ('245', 'Peggie','Sturiale','9 N 14th St','El Cajon','San Diego','CA','92020', '245')
row inserted: ('246', 'Marvel','Raymo','9 Vanowen St','College Station','Brazos','TX','77840', '246')
row inserted: ('247', 'Daron','Dinos','18 Waterloo Geneva Rd','Highland Park','Lake','IL','60035', '247')
row inserted: ('248', 'An','Fritz','506 S Hacienda Dr','Atlantic City','Atlantic','NJ','8401', '248')
row inserted: ('249', 'Portia','Stimmel','3732 Sherman Ave','Bridgewater','Somerset','NJ','8807', '249')
row inserted: ('250', 'Rhea','Aredondo','25657 Live Oak St','Brooklyn','Kings','NY','11226', '250')
row inserted: ('251', 'Benedict','Sama','4923 Carey Ave','Saint Louis','Saint Louis City','MO','63104', '251')
row inserted: ('252', 'Alyce','Arias','3196 S Rider Trl','Stockton','San Joaquin','CA','95207', '252')
row inserted: ('253', 'Heike','Berganza','3 Railway Ave #75','Little Falls','Passaic','NJ','7424', '253')
row inserted: ('254', 'Carey','Dopico','87393 E Highland Rd','Indianapolis','Marion','IN','46220', '254')
row inserted: ('255', 'Dottie','Hellickson','67 E Chestnut Hill Rd','Seattle','King','WA','98133', '255')
row inserted: ('256', 'Deandrea','Hughey','33 Lewis Rd #46','Burlington','Alamance','NC','27215', '256')
row inserted: ('257', 'Kimberlie','Duenas','8100 Jacksonville Rd #7','Hays','Ellis','KS','67601', '257')
row inserted: ('258', 'Martina','Staback','7 W Wabansia Ave #227','Orlando','Orange','FL','32822', '258')
row inserted: ('259', 'Skye','Fillingim','25 Minters Chapel Rd #9','Minneapolis','Hennepin','MN','55401', '259')
row inserted: ('260', 'Jade','Farrar','6882 Torresdale Ave','Columbia','Richland','SC','29201', '260')
row inserted: ('261', 'Charlene','Hamilton','985 E 6th Ave','Santa Rosa','Sonoma','CA','95407', '261')
row inserted: ('262', 'Geoffrey','Acey','7 West Ave #1','Palatine','Cook','IL','60067', '262')
row inserted: ('263', 'Stevie','Westerbeck','26659 N 13th St','Costa Mesa','Orange','CA','92626', '263')
row inserted: ('264', 'Pamella','Fortino','669 Packerland Dr #1438','Denver','Denver','CO','80212', '264')
row inserted: ('265', 'Harrison','Haufler','759 Eldora St','New Haven','New Haven','CT','6515', '265')
row inserted: ('266', 'Johnna','Engelberg','5 S Colorado Blvd #449','Bothell','Snohomish','WA','98021', '266')
row inserted: ('267', 'Buddy','Cloney','944 Gaither Dr','Strongsville','Cuyahoga','OH','44136', '267')
row inserted: ('268', 'Dalene','Riden','66552 Malone Rd','Plaistow','Rockingham','NH','3865', '268')
row inserted: ('269', 'Jerry','Zurcher','77 Massillon Rd #822','Satellite Beach','Brevard','FL','32937', '269')
row inserted: ('270', 'Haydee','Denooyer','25346 New Rd','New York','New York','NY','10016', '270')
row inserted: ('271', 'Joseph','Cryer','60 Fillmore Ave','Huntington Beach','Orange','CA','92647', '271')
row inserted: ('272', 'Deonna','Kippley','57 Haven Ave #90','Southfield','Oakland','MI','48075', '272')
row inserted: ('273', 'Raymon','Calvaresi','6538 E Pomona St #60','Indianapolis','Marion','IN','46222', '273')
row inserted: ('274', 'Alecia','Bubash','6535 Joyce St','Wichita Falls','Wichita','TX','76301', '274')
row inserted: ('275', 'Ma','Layous','78112 Morris Ave','North Haven','New Haven','CT','6473', '275')
row inserted: ('276', 'Detra','Coyier','96950 Hidden Ln','Aberdeen','Harford','MD','21001', '276')
row inserted: ('277', 'Terrilyn','Rodeigues','3718 S Main St','New Orleans','Orleans','LA','70130', '277')
row inserted: ('278', 'Salome','Lacovara','9677 Commerce Dr','Richmond','Richmond City','VA','23219', '278')
row inserted: ('279', 'Garry','Keetch','5 Green Pond Rd #4','Southampton','Bucks','PA','18966', '279')
row inserted: ('280', 'Matthew','Neither','636 Commerce Dr #42','Shakopee','Scott','MN','55379', '280')
row inserted: ('281', 'Theodora','Restrepo','42744 Hamann Industrial Pky #82','Miami','Miami-Dade','FL','33136', '281')
row inserted: ('282', 'Noah','Kalafatis','1950 5th Ave','Milwaukee','Milwaukee','WI','53209', '282')
row inserted: ('283', 'Carmen','Sweigard','61304 N French Rd','Somerset','Somerset','NJ','8873', '283')
row inserted: ('284', 'Lavonda','Hengel','87 Imperial Ct #79','Fargo','Cass','ND','58102', '284')
row inserted: ('285', 'Junita','Stoltzman','94 W Dodge Rd','Carson City','Carson City','NV','89701', '285')
row inserted: ('286', 'Herminia','Nicolozakes','4 58th St #3519','Scottsdale','Maricopa','AZ','85254', '286')
row inserted: ('287', 'Casie','Good','5221 Bear Valley Rd','Nashville','Davidson','TN','37211', '287')
row inserted: ('288', 'Reena','Maisto','9648 S Main','Salisbury','Wicomico','MD','21801', '288')
row inserted: ('289', 'Mirta','Mallett','7 S San Marcos Rd','New York','New York','NY','10004', '289')
row inserted: ('290', 'Cathrine','Pontoriero','812 S Haven St','Amarillo','Randall','TX','79109', '290')
row inserted: ('291', 'Filiberto','Tawil','3882 W Congress St #799','Los Angeles','Los Angeles','CA','90016', '291')
row inserted: ('292', 'Raul','Upthegrove','4 E Colonial Dr','La Mesa','San Diego','CA','91942', '292')
row inserted: ('293', 'Sarah','Candlish','45 2nd Ave #9759','Atlanta','Fulton','GA','30328', '293')
row inserted: ('294', 'Lucy','Treston','57254 Brickell Ave #372','Worcester','Worcester','MA','1602', '294')
row inserted: ('295', 'Judy','Aquas','8977 Connecticut Ave Nw #3','Niles','Berrien','MI','49120', '295')
row inserted: ('296', 'Yvonne','Tjepkema','9 Waydell St','Fairfield','Essex','NJ','7004', '296')
row inserted: ('297', 'Kayleigh','Lace','43 Huey P Long Ave','Lafayette','Lafayette','LA','70508', '297')
row inserted: ('298', 'Felix','Hirpara','7563 Cornwall Rd #4462','Denver','Lancaster','PA','17517', '298')
row inserted: ('299', 'Tresa','Sweely','22 Bridle Ln','Valley Park','Saint Louis','MO','63088', '299')
row inserted: ('300', 'Kristeen','Turinetti','70099 E North Ave','Arlington','Tarrant','TX','76013', '300')
row inserted: ('301', 'Jenelle','Regusters','3211 E Northeast Loop','Tampa','Hillsborough','FL','33619', '301')
row inserted: ('302', 'Renea','Monterrubio','26 Montgomery St','Atlanta','Fulton','GA','30328', '302')
row inserted: ('303', 'Olive','Matuszak','13252 Lighthouse Ave','Cathedral City','Riverside','CA','92234', '303')
row inserted: ('304', 'Ligia','Reiber','206 Main St #2804','Lansing','Ingham','MI','48933', '304')
row inserted: ('305', 'Christiane','Eschberger','96541 W Central Blvd','Phoenix','Maricopa','AZ','85034', '305')
row inserted: ('306', 'Goldie','Schirpke','34 Saint George Ave #2','Bangor','Penobscot','ME','4401', '306')
row inserted: ('307', 'Loreta','Timenez','47857 Coney Island Ave','Clinton','Prince Georges','MD','20735', '307')
row inserted: ('308', 'Fabiola','Hauenstein','8573 Lincoln Blvd','York','York','PA','17404', '308')
row inserted: ('309', 'Amie','Perigo','596 Santa Maria Ave #7913','Mesquite','Dallas','TX','75150', '309')
row inserted: ('310', 'Raina','Brachle','3829 Ventura Blvd','Butte','Silver Bow','MT','59701', '310')
row inserted: ('311', 'Erinn','Canlas','13 S Hacienda Dr','Livingston','Essex','NJ','7039', '311')
row inserted: ('312', 'Cherry','Lietz','40 9th Ave Sw #91','Waterford','Oakland','MI','48329', '312')
row inserted: ('313', 'Kattie','Vonasek','2845 Boulder Crescent St','Cleveland','Cuyahoga','OH','44103', '313')
row inserted: ('314', 'Lilli','Scriven','33 State St','Abilene','Taylor','TX','79601', '314')
row inserted: ('315', 'Whitley','Tomasulo','2 S 15th St','Fort Worth','Tarrant','TX','76107', '315')
row inserted: ('316', 'Barbra','Adkin','4 Kohler Memorial Dr','Brooklyn','Kings','NY','11230', '316')
row inserted: ('317', 'Hermila','Thyberg','1 Rancho Del Mar Shopping C','Providence','Providence','RI','2903', '317')
row inserted: ('318', 'Jesusita','Flister','3943 N Highland Ave','Lancaster','Lancaster','PA','17601', '318')
row inserted: ('319', 'Caitlin','Julia','5 Williams St','Johnston','Providence','RI','2919', '319')
row inserted: ('320', 'Roosevelt','Hoffis','60 Old Dover Rd','Hialeah','Miami-Dade','FL','33014', '320')
row inserted: ('321', 'Helaine','Halter','8 Sheridan Rd','Jersey City','Hudson','NJ','7304', '321')
row inserted: ('322', 'Lorean','Martabano','85092 Southern Blvd','San Antonio','Bexar','TX','78204', '322')
row inserted: ('323', 'France','Buzick','64 Newman Springs Rd E','Brooklyn','Kings','NY','11219', '323')
row inserted: ('324', 'Justine','Ferrario','48 Stratford Ave','Pomona','Los Angeles','CA','91768', '324')
row inserted: ('325', 'Adelina','Nabours','80 Pittsford Victor Rd #9','Cleveland','Cuyahoga','OH','44103', '325')
row inserted: ('326', 'Derick','Dhamer','87163 N Main Ave','New York','New York','NY','10013', '326')
row inserted: ('327', 'Jerry','Dallen','393 Lafayette Ave','Richmond','Richmond City','VA','23219', '327')
row inserted: ('328', 'Leota','Ragel','99 5th Ave #33','Trion','Chattooga','GA','30753', '328')
row inserted: ('329', 'Jutta','Amyot','49 N Mays St','Broussard','Lafayette','LA','70518', '329')
row inserted: ('330', 'Aja','Gehrett','993 Washington Ave','Nutley','Essex','NJ','7110', '330')
row inserted: ('331', 'Kirk','Herritt','88 15th Ave Ne','Vestal','Broome','NY','13850', '331')
row inserted: ('332', 'Leonora','Mauson','3381 E 40th Ave','Passaic','Passaic','NJ','7055', '332')
row inserted: ('333', 'Winfred','Brucato','201 Ridgewood Rd','Moscow','Latah','ID','83843', '333')
row inserted: ('334', 'Tarra','Nachor','39 Moccasin Dr','San Francisco','San Francisco','CA','94104', '334')
row inserted: ('335', 'Corinne','Loder','4 Carroll St','North Attleboro','Bristol','MA','2760', '335')
row inserted: ('336', 'Dulce','Labreche','9581 E Arapahoe Rd','Rochester','Oakland','MI','48307', '336')
row inserted: ('337', 'Kate','Keneipp','33 N Michigan Ave','Green Bay','Brown','WI','54301', '337')
row inserted: ('338', 'Kaitlyn','Ogg','2 S Biscayne Blvd','Baltimore','Baltimore City','MD','21230', '338')
row inserted: ('339', 'Sherita','Saras','8 Us Highway 22','Colorado Springs','El Paso','CO','80937', '339')
row inserted: ('340', 'Lashawnda','Stuer','7422 Martin Ave #8','Toledo','Lucas','OH','43607', '340')
row inserted: ('341', 'Ernest','Syrop','94 Chase Rd','Hyattsville','Prince Georges','MD','20785', '341')
row inserted: ('342', 'Nobuko','Halsey','8139 I Hwy 10 #92','New Bedford','Bristol','MA','2745', '342')
row inserted: ('343', 'Lavonna','Wolny','5 Cabot Rd','Mc Lean','Fairfax','VA','22102', '343')
row inserted: ('344', 'Lashaunda','Lizama','3387 Ryan Dr','Hanover','Anne Arundel','MD','21076', '344')
row inserted: ('345', 'Mariann','Bilden','3125 Packer Ave #9851','Austin','Travis','TX','78753', '345')
row inserted: ('346', 'Helene','Rodenberger','347 Chestnut St','Peoria','Maricopa','AZ','85381', '346')
row inserted: ('347', 'Roselle','Estell','8116 Mount Vernon Ave','Bucyrus','Crawford','OH','44820', '347')
row inserted: ('348', 'Samira','Heintzman','8772 Old County Rd #5410','Kent','King','WA','98032', '348')
row inserted: ('349', 'Margart','Meisel','868 State St #38','Cincinnati','Hamilton','OH','45251', '349')
row inserted: ('350', 'Kristofer','Bennick','772 W River Dr','Bloomington','Monroe','IN','47404', '350')
row inserted: ('351', 'Weldon','Acuff','73 W Barstow Ave','Arlington Heights','Cook','IL','60004', '351')
row inserted: ('352', 'Shalon','Shadrick','61047 Mayfield Ave','Brooklyn','Kings','NY','11223', '352')
row inserted: ('353', 'Denise','Patak','2139 Santa Rosa Ave','Orlando','Orange','FL','32801', '353')
row inserted: ('354', 'Louvenia','Beech','598 43rd St','Beverly Hills','Los Angeles','CA','90210', '354')
row inserted: ('355', 'Audry','Yaw','70295 Pioneer Ct','Brandon','Hillsborough','FL','33511', '355')
row inserted: ('356', 'Kristel','Ehmann','92899 Kalakaua Ave','El Paso','El Paso','TX','79925', '356')
row inserted: ('357', 'Vincenza','Zepp','395 S 6th St #2','El Cajon','San Diego','CA','92020', '357')
row inserted: ('358', 'Elouise','Gwalthney','9506 Edgemore Ave','Bladensburg','Prince Georges','MD','20710', '358')
row inserted: ('359', 'Venita','Maillard','72119 S Walker Ave #63','Anaheim','Orange','CA','92801', '359')
row inserted: ('360', 'Kasandra','Semidey','369 Latham St #500','Saint Louis','Saint Louis City','MO','63102', '360')
row inserted: ('361', 'Xochitl','Discipio','3158 Runamuck Pl','Round Rock','Williamson','TX','78664', '361')
row inserted: ('362', 'Maile','Linahan','9 Plainsboro Rd #598','Greensboro','Guilford','NC','27409', '362')
row inserted: ('363', 'Krissy','Rauser','8728 S Broad St','Coram','Suffolk','NY','11727', '363')
row inserted: ('364', 'Pete','Dubaldi','2215 Prosperity Dr','Lyndhurst','Bergen','NJ','7071', '364')
row inserted: ('365', 'Linn','Paa','1 S Pine St','Memphis','Shelby','TN','38112', '365')
row inserted: ('366', 'Paris','Wide','187 Market St','Atlanta','Fulton','GA','30342', '366')
row inserted: ('367', 'Wynell','Dorshorst','94290 S Buchanan St','Pacifica','San Mateo','CA','94044', '367')
row inserted: ('368', 'Quentin','Birkner','7061 N 2nd St','Burnsville','Dakota','MN','55337', '368')
row inserted: ('369', 'Regenia','Kannady','10759 Main St','Scottsdale','Maricopa','AZ','85260', '369')
row inserted: ('370', 'Sheron','Louissant','97 E 3rd St #9','Long Island City','Queens','NY','11101', '370')
row inserted: ('371', 'Izetta','Funnell','82 Winsor St #54','Atlanta','Dekalb','GA','30340', '371')
row inserted: ('372', 'Rodolfo','Butzen','41 Steel Ct','Northfield','Rice','MN','55057', '372')
row inserted: ('373', 'Zona','Colla','49440 Dearborn St','Norwalk','Fairfield','CT','6854', '373')
row inserted: ('374', 'Serina','Zagen','7 S Beverly Dr','Fort Wayne','Allen','IN','46802', '374')
row inserted: ('375', 'Paz','Sahagun','919 Wall Blvd','Meridian','Lauderdale','MS','39307', '375')
row inserted: ('376', 'Markus','Lukasik','89 20th St E #779','Sterling Heights','Macomb','MI','48310', '376')
row inserted: ('377', 'Jaclyn','Bachman','721 Interstate 45 S','Colorado Springs','El Paso','CO','80919', '377')
row inserted: ('378', 'Cyril','Daufeldt','3 Lawton St','New York','New York','NY','10013', '378')
row inserted: ('379', 'Gayla','Schnitzler','38 Pleasant Hill Rd','Hayward','Alameda','CA','94545', '379')
row inserted: ('380', 'Erick','Nievas','45 E Acacia Ct','Chicago','Cook','IL','60624', '380')
row inserted: ('381', 'Jennie','Drymon','63728 Poway Rd #1','Scranton','Lackawanna','PA','18509', '381')
row inserted: ('382', 'Mitsue','Scipione','77 222 Dr','Oroville','Butte','CA','95965', '382')
row inserted: ('383', 'Ciara','Ventura','53 W Carey St','Port Jervis','Orange','NY','12771', '383')
row inserted: ('384', 'Galen','Cantres','617 Nw 36th Ave','Brook Park','Cuyahoga','OH','44142', '384')
row inserted: ('385', 'Truman','Feichtner','539 Coldwater Canyon Ave','Bloomfield','Essex','NJ','7003', '385')
row inserted: ('386', 'Gail','Kitty','735 Crawford Dr','Anchorage','Anchorage','AK','99501', '386')
row inserted: ('387', 'Dalene','Schoeneck','910 Rahway Ave','Philadelphia','Philadelphia','PA','19102', '387')
row inserted: ('388', 'Gertude','Witten','7 Tarrytown Rd','Cincinnati','Hamilton','OH','45217', '388')
row inserted: ('389', 'Lizbeth','Kohl','35433 Blake St #588','Gardena','Los Angeles','CA','90248', '389')
row inserted: ('390', 'Glenn','Berray','29 Cherry St #7073','Des Moines','Polk','IA','50315', '390')
row inserted: ('391', 'Lashandra','Klang','810 N La Brea Ave','King of Prussia','Montgomery','PA','19406', '391')
row inserted: ('392', 'Lenna','Newville','987 Main St','Raleigh','Wake','NC','27601', '392')
row inserted: ('393', 'Laurel','Pagliuca','36 Enterprise St Se','Richland','Benton','WA','99352', '393')
row inserted: ('394', 'Mireya','Frerking','8429 Miller Rd','Pelham','Westchester','NY','10803', '394')
row inserted: ('395', 'Annelle','Tagala','5 W 7th St','Parkville','Baltimore','MD','21234', '395')
row inserted: ('396', 'Dean','Ketelsen','2 Flynn Rd','Hicksville','Nassau','NY','11801', '396')
row inserted: ('397', 'Levi','Munis','2094 Ne 36th Ave','Worcester','Worcester','MA','1603', '397')
row inserted: ('398', 'Sylvie','Ryser','649 Tulane Ave','Tulsa','Tulsa','OK','74105', '398')

row inserted: ('399', 'Sharee','Maile','2094 Montour Blvd','Muskegon','Muskegon','MI','49442', '399')
row inserted: ('400', 'Cordelia','Storment','393 Hammond Dr','Lafayette','Lafayette','LA','70506', '400')
row inserted: ('401', 'Mollie','Mcdoniel','8590 Lake Lizzie Dr','Bowling Green','Wood','OH','43402', '401')
row inserted: ('402', 'Brett','Mccullan','87895 Concord Rd','La Mesa','San Diego','CA','91942', '402')
row inserted: ('403', 'Teddy','Pedrozo','46314 Route 130','Bridgeport','Fairfield','CT','6610', '403')
row inserted: ('404', 'Tasia','Andreason','4 Cowesett Ave','Kearny','Hudson','NJ','7032', '404')
row inserted: ('405', 'Hubert','Walthall','95 Main Ave #2','Barberton','Summit','OH','44203', '405')
row inserted: ('406', 'Arthur','Farrow','28 S 7th St #2824','Englewood','Bergen','NJ','7631', '406')
row inserted: ('407', 'Vilma','Berlanga','79 S Howell Ave','Grand Rapids','Kent','MI','49546', '407')
row inserted: ('408', 'Billye','Miro','36 Lancaster Dr Se','Pearl','Rankin','MS','39208', '408')
row inserted: ('409', 'Glenna','Slayton','2759 Livingston Ave','Memphis','Shelby','TN','38118', '409')
row inserted: ('410', 'Mitzie','Hudnall','17 Jersey Ave','Englewood','Arapahoe','CO','80110', '410')
row inserted: ('411', 'Bernardine','Rodefer','2 W Grand Ave','Memphis','Shelby','TN','38112', '411')
row inserted: ('412', 'Staci','Schmaltz','18 Coronado Ave #563','Pasadena','Los Angeles','CA','91106', '412')
row inserted: ('413', 'Nichelle','Meteer','72 Beechwood Ter','Chicago','Cook','IL','60657', '413')
row inserted: ('414', 'Janine','Rhoden','92 Broadway','Astoria','Queens','NY','11103', '414')
row inserted: ('415', 'Ettie','Hoopengardner','39 Franklin Ave','Richland','Benton','WA','99352', '415')
row inserted: ('416', 'Eden','Jayson','4 Iwaena St','Baltimore','Baltimore City','MD','21202', '416')
row inserted: ('417', 'Lynelle','Auber','32820 Corkwood Rd','Newark','Essex','NJ','7104', '417')
row inserted: ('418', 'Merissa','Tomblin','34 Raritan Center Pky','Bellflower','Los Angeles','CA','90706', '418')
row inserted: ('419', 'Golda','Kaniecki','6201 S Nevada Ave','Toms River','Ocean','NJ','8755', '419')
row inserted: ('420', 'Catarina','Gleich','78 Maryland Dr #146','Denville','Morris','NJ','7834', '420')
row inserted: ('421', 'Virgie','Kiel','76598 Rd  I 95 #1','Denver','Denver','CO','80216', '421')
row inserted: ('422', 'Jolene','Ostolaza','1610 14th St Nw','Newport News','Newport News City','VA','23608', '422')
row inserted: ('423', 'Keneth','Borgman','86350 Roszel Rd','Phoenix','Maricopa','AZ','85012', '423')
row inserted: ('424', 'Rikki','Nayar','1644 Clove Rd','Miami','Miami-Dade','FL','33155', '424')
row inserted: ('425', 'Elke','Sengbusch','9 W Central Ave','Phoenix','Maricopa','AZ','85013', '425')
row inserted: ('426', 'Hoa','Sarao','27846 Lafayette Ave','Oak Hill','Volusia','FL','32759', '426')
row inserted: ('427', 'Trinidad','Mcrae','10276 Brooks St','San Francisco','San Francisco','CA','94105', '427')
row inserted: ('428', 'Mari','Lueckenbach','1 Century Park E','San Diego','San Diego','CA','92110', '428')
row inserted: ('429', 'Selma','Husser','9 State Highway 57 #22','Jersey City','Hudson','NJ','7306', '429')
row inserted: ('430', 'Antione','Onofrio','4 S Washington Ave','San Bernardino','San Bernardino','CA','92410', '430')
row inserted: ('431', 'Luisa','Jurney','25 Se 176th Pl','Cambridge','Middlesex','MA','2138', '431')
row inserted: ('432', 'Clorinda','Heimann','105 Richmond Valley Rd','Escondido','San Diego','CA','92025', '432')
row inserted: ('433', 'Dick','Wenzinger','22 Spruce St #595','Gardena','Los Angeles','CA','90248', '433')
row inserted: ('434', 'Ahmed','Angalich','2 W Beverly Blvd','Harrisburg','Dauphin','PA','17110', '434')
row inserted: ('435', 'Iluminada','Ohms','72 Southern Blvd','Mesa','Maricopa','AZ','85204', '435')
row inserted: ('436', 'Joanna','Leinenbach','1 Washington St','Lake Worth','Palm Beach','FL','33461', '436')
row inserted: ('437', 'Caprice','Suell','90177 N 55th Ave','Nashville','Davidson','TN','37211', '437')
row inserted: ('438', 'Stephane','Myricks','9 Tower Ave','Burlington','Boone','KY','41005', '438')
row inserted: ('439', 'Quentin','Swayze','278 Bayview Ave','Milan','Monroe','MI','48160', '439')
row inserted: ('440', 'Annmarie','Castros','80312 W 32nd St','Conroe','Montgomery','TX','77301', '440')
row inserted: ('441', 'Shonda','Greenbush','82 Us Highway 46','Clifton','Passaic','NJ','7011', '441')
row inserted: ('442', 'Cecil','Lapage','4 Stovall St #72','Union City','Hudson','NJ','7087', '442')
row inserted: ('443', 'Jeanice','Claucherty','19 Amboy Ave','Miami','Miami-Dade','FL','33142', '443')
row inserted: ('444', 'Josphine','Villanueva','63 Smith Ln #8343','Moss','Clay','TN','38575', '444')
row inserted: ('445', 'Daniel','Perruzza','11360 S Halsted St','Santa Ana','Orange','CA','92705', '445')
row inserted: ('446', 'Cassi','Wildfong','26849 Jefferson Hwy','Rolling Meadows','Cook','IL','60008', '446')
row inserted: ('447', 'Britt','Galam','2500 Pringle Rd Se #508','Hatfield','Montgomery','PA','19440', '447')
row inserted: ('448', 'Adell','Lipkin','65 Mountain View Dr','Whippany','Morris','NJ','7981', '448')
row inserted: ('449', 'Jacqueline','Rowling','1 N San Saba','Erie','Erie','PA','16501', '449')
row inserted: ('450', 'Lonny','Weglarz','51120 State Route 18','Salt Lake City','Salt Lake','UT','84115', '450')
row inserted: ('451', 'Lonna','Diestel','1482 College Ave','Fayetteville','Cumberland','NC','28301', '451')
row inserted: ('452', 'Cristal','Samara','4119 Metropolitan Dr','Los Angeles','Los Angeles','CA','90021', '452')
row inserted: ('453', 'Kenneth','Grenet','2167 Sierra Rd','East Lansing','Ingham','MI','48823', '453')
row inserted: ('454', 'Elli','Mclaird','6 Sunrise Ave','Utica','Oneida','NY','13501', '454')
row inserted: ('455', 'Alline','Jeanty','55713 Lake City Hwy','South Bend','St Joseph','IN','46601', '455')
row inserted: ('456', 'Sharika','Eanes','75698 N Fiesta Blvd','Orlando','Orange','FL','32806', '456')
row inserted: ('457', 'Nu','Mcnease','88 Sw 28th Ter','Harrison','Hudson','NJ','7029', '457')
row inserted: ('458', 'Daniela','Comnick','7 Flowers Rd #403','Trenton','Mercer','NJ','8611', '458')
row inserted: ('459', 'Cecilia','Colaizzo','4 Nw 12th St #3849','Madison','Dane','WI','53717', '459')
row inserted: ('460', 'Leslie','Threets','2 A Kelley Dr','Katonah','Westchester','NY','10536', '460')
row inserted: ('461', 'Nan','Koppinger','88827 Frankford Ave','Greensboro','Guilford','NC','27401', '461')
row inserted: ('462', 'Izetta','Dewar','2 W Scyene Rd #3','Baltimore','Baltimore City','MD','21217', '462')
row inserted: ('463', 'Tegan','Arceo','62260 Park Stre','Monroe Township','Middlesex','NJ','8831', '463')
row inserted: ('464', 'Ruthann','Keener','3424 29th St Se','Kerrville','Kerr','TX','78028', '464')
row inserted: ('465', 'Joni','Breland','35 E Main St #43','Elk Grove Village','Cook','IL','60007', '465')
row inserted: ('466', 'Vi','Rentfro','7163 W Clark Rd','Freehold','Monmouth','NJ','7728', '466')
row inserted: ('467', 'Colette','Kardas','21575 S Apple Creek Rd','Omaha','Douglas','NE','68124', '467')
row inserted: ('468', 'Malcolm','Tromblay','747 Leonis Blvd','Annandale','Fairfax','VA','22003', '468')
row inserted: ('469', 'Ryan','Harnos','13 Gunnison St','Plano','Collin','TX','75075', '469')
row inserted: ('470', 'Jess','Chaffins','18 3rd Ave','New York','New York','NY','10016', '470')
row inserted: ('471', 'Sharen','Bourbon','62 W Austin St','Syosset','Nassau','NY','11791', '471')
row inserted: ('472', 'Nickolas','Juvera','177 S Rider Trl #52','Crystal River','Citrus','FL','34429', '472')
row inserted: ('473', 'Gary','Nunlee','2 W Mount Royal Ave','Fortville','Hancock','IN','46040', '473')
row inserted: ('474', 'Diane','Devreese','1953 Telegraph Rd','Saint Joseph','Buchanan','MO','64504', '474')
row inserted: ('475', 'Roslyn','Chavous','63517 Dupont St','Jackson','Hinds','MS','39211', '475')
row inserted: ('476', 'Glory','Schieler','5 E Truman Rd','Abilene','Taylor','TX','79602', '476')
row inserted: ('477', 'Rasheeda','Sayaphon','251 Park Ave #979','Saratoga','Santa Clara','CA','95070', '477')
row inserted: ('478', 'Alpha','Palaia','43496 Commercial Dr #29','Cherry Hill','Camden','NJ','8003', '478')
row inserted: ('479', 'Refugia','Jacobos','2184 Worth St','Hayward','Alameda','CA','94545', '479')
row inserted: ('480', 'Shawnda','Yori','50126 N Plankinton Ave','Longwood','Seminole','FL','32750', '480')
row inserted: ('481', 'Mona','Delasancha','38773 Gravois Ave','Cheyenne','Laramie','WY','82001', '481')
row inserted: ('482', 'Gilma','Liukko','16452 Greenwich St','Garden City','Nassau','NY','11530', '482')
row inserted: ('483', 'Janey','Gabisi','40 Cambridge Ave','Madison','Dane','WI','53715', '483')
row inserted: ('484', 'Lili','Paskin','20113 4th Ave E','Kearny','Hudson','NJ','7032', '484')
row inserted: ('485', 'Loren','Asar','6 Ridgewood Center Dr','Old Forge','Lackawanna','PA','18518', '485')
row inserted: ('486', 'Dorothy','Chesterfield','469 Outwater Ln','San Diego','San Diego','CA','92126', '486')
row inserted: ('487', 'Gail','Similton','62 Monroe St','Thousand Palms','Riverside','CA','92276', '487')
row inserted: ('488', 'Catalina','Tillotson','3338 A Lockport Pl #6','Margate City','Atlantic','NJ','8402', '488')
row inserted: ('489', 'Lawrence','Lorens','9 Hwy','Providence','Providence','RI','2906', '489')
row inserted: ('490', 'Carlee','Boulter','8284 Hart St','Abilene','Dickinson','KS','67410', '490')
row inserted: ('491', 'Thaddeus','Ankeny','5 Washington St #1','Roseville','Placer','CA','95678', '491')
row inserted: ('492', 'Jovita','Oles','8 S Haven St','Daytona Beach','Volusia','FL','32114', '492')
row inserted: ('493', 'Alesia','Hixenbaugh','9 Front St','Washington','District of Columbia','DC','20001', '493')
row inserted: ('494', 'Lai','Harabedian','1933 Packer Ave #2','Novato','Marin','CA','94945', '494')
row inserted: ('495', 'Brittni','Gillaspie','67 Rv Cent','Boise','Ada','ID','83709', '495')
row inserted: ('496', 'Raylene','Kampa','2 Sw Nyberg Rd','Elkhart','Elkhart','IN','46514', '496')
row inserted: ('497', 'Flo','Bookamer','89992 E 15th St','Alliance','Box Butte','NE','69301', '497')
row inserted: ('498', 'Jani','Biddy','61556 W 20th Ave','Seattle','King','WA','98104', '498')
row inserted: ('499', 'Chauncey','Motley','63 E Aurora Dr','Orlando','Orange','FL','32804', '499')

In [9]:
query.execute("select * from userdetails")

rows = query.fetchall()

for row in rows:
    print(row)

(Decimal('0'), 'James', 'Butt', '6649 N Blue Gum St', 'New Orleans', 'Orleans', 'LA', '70116', Decimal('0'))
(Decimal('1'), 'Josephine', 'Darakjy', '4 B Blue Ridge Blvd', 'Brighton', 'Livingston', 'MI', '48116', Decimal('1'))
(Decimal('2'), 'Art', 'Venere', '8 W Cerritos Ave #54', 'Bridgeport', 'Gloucester', 'NJ', '8014', Decimal('2'))
(Decimal('3'), 'Lenna', 'Paprocki', '639 Main St', 'Anchorage', 'Anchorage', 'AK', '99501', Decimal('3'))
(Decimal('4'), 'Donette', 'Foller', '34 Center St', 'Hamilton', 'Butler', 'OH', '45011', Decimal('4'))
(Decimal('5'), 'Simona', 'Morasca', '3 Mcauley Dr', 'Ashland', 'Ashland', 'OH', '44805', Decimal('5'))
(Decimal('6'), 'Mitsue', 'Tollner', '7 Eads St', 'Chicago', 'Cook', 'IL', '60632', Decimal('6'))
(Decimal('7'), 'Leota', 'Dilliard', '7 W Jackson Blvd', 'San Jose', 'Santa Clara', 'CA', '95111', Decimal('7'))
(Decimal('8'), 'Sage', 'Wieser', '5 Boston Ave #88', 'Sioux Falls', 'Minnehaha', 'SD', '57105', Decimal('8'))
(Decimal('9'), 'Kris', 'Marrier', '228 Runamuck Pl #2808', 'Baltimore', 'Baltimore City', 'MD', '21224', Decimal('9'))
(Decimal('10'), 'Minna', 'Amigon', '2371 Jerrold Ave', 'Kulpsville', 'Montgomery', 'PA', '19443', Decimal('10'))
(Decimal('11'), 'Abel', 'Maclead', '37275 St  Rt 17m M', 'Middle Island', 'Suffolk', 'NY', '11953', Decimal('11'))
(Decimal('12'), 'Kiley', 'Caldarera', '25 E 75th St #69', 'Los Angeles', 'Los Angeles', 'CA', '90034', Decimal('12'))
(Decimal('13'), 'Graciela', 'Ruta', '98 Connecticut Ave Nw', 'Chagrin Falls', 'Geauga', 'OH', '44023', Decimal('13'))
(Decimal('14'), 'Cammy', 'Albares', '56 E Morehead St', 'Laredo', 'Webb', 'TX', '78045', Decimal('14'))
(Decimal('15'), 'Mattie', 'Poquette', '73 State Road 434 E', 'Phoenix', 'Maricopa', 'AZ', '85013', Decimal('15'))
(Decimal('16'), 'Meaghan', 'Garufi', '69734 E Carrillo St', 'Mc Minnville', 'Warren', 'TN', '37110', Decimal('16'))
(Decimal('17'), 'Gladys', 'Rim', '322 New Horizon Blvd', 'Milwaukee', 'Milwaukee', 'WI', '53207', Decimal('17'))
(Decimal('18'), 'Yuki', 'Whobrey', '1 State Route 27', 'Taylor', 'Wayne', 'MI', '48180', Decimal('18'))
(Decimal('19'), 'Fletcher', 'Flosi', '394 Manchester Blvd', 'Rockford', 'Winnebago', 'IL', '61109', Decimal('19'))
(Decimal('20'), 'Bette', 'Nicka', '6 S 33rd St', 'Aston', 'Delaware', 'PA', '19014', Decimal('20'))
(Decimal('21'), 'Veronika', 'Inouye', '6 Greenleaf Ave', 'San Jose', 'Santa Clara', 'CA', '95111', Decimal('21'))
(Decimal('22'), 'Willard', 'Kolmetz', '618 W Yakima Ave', 'Irving', 'Dallas', 'TX', '75062', Decimal('22'))
(Decimal('23'), 'Maryann', 'Royster', '74 S Westgate St', 'Albany', 'Albany', 'NY', '12204', Decimal('23'))
(Decimal('24'), 'Alisha', 'Slusarski', '3273 State St', 'Middlesex', 'Middlesex', 'NJ', '8846', Decimal('24'))
(Decimal('25'), 'Allene', 'Iturbide', '1 Central Ave', 'Stevens Point', 'Portage', 'WI', '54481', Decimal('25'))
(Decimal('26'), 'Chanel', 'Caudy', '86 Nw 66th St #8673', 'Shawnee', 'Johnson', 'KS', '66218', Decimal('26'))
(Decimal('27'), 'Ezekiel', 'Chui', '2 Cedar Ave #84', 'Easton', 'Talbot', 'MD', '21601', Decimal('27'))
(Decimal('28'), 'Willow', 'Kusko', '90991 Thorburn Ave', 'New York', 'New York', 'NY', '10011', Decimal('28'))
(Decimal('29'), 'Bernardo', 'Figeroa', '386 9th Ave N', 'Conroe', 'Montgomery', 'TX', '77301', Decimal('29'))
(Decimal('30'), 'Ammie', 'Corrio', '74874 Atlantic Ave', 'Columbus', 'Franklin', 'OH', '43215', Decimal('30'))
(Decimal('31'), 'Francine', 'Vocelka', '366 South Dr', 'Las Cruces', 'Dona Ana', 'NM', '88011', Decimal('31'))
(Decimal('32'), 'Ernie', 'Stenseth', '45 E Liberty St', 'Ridgefield Park', 'Bergen', 'NJ', '7660', Decimal('32'))
(Decimal('33'), 'Albina', 'Glick', '4 Ralph Ct', 'Dunellen', 'Middlesex', 'NJ', '8812', Decimal('33'))
(Decimal('34'), 'Alishia', 'Sergi', '2742 Distribution Way', 'New York', 'New York', 'NY', '10025', Decimal('34'))
(Decimal('35'), 'Solange', 'Shinko', '426 Wolf St', 'Metairie', 'Jefferson', 'LA', '70002', Decimal('35'))
(Decimal('36'), 'Jose', 'Stockham', '128 Bransten Rd', 'New York', 'New York', 'NY', '10011', Decimal('36'))
(Decimal('37'), 'Rozella', 'Ostrosky', '17 Morena Blvd', 'Camarillo', 'Ventura', 'CA', '93012', Decimal('37'))
(Decimal('38'), 'Valentine', 'Gillian', '775 W 17th St', 'San Antonio', 'Bexar', 'TX', '78204', Decimal('38'))
(Decimal('39'), 'Kati', 'Rulapaugh', '6980 Dorsett Rd', 'Abilene', 'Dickinson', 'KS', '67410', Decimal('39'))
(Decimal('40'), 'Youlanda', 'Schemmer', '2881 Lewis Rd', 'Prineville', 'Crook', 'OR', '97754', Decimal('40'))
(Decimal('41'), 'Dyan', 'Oldroyd', '7219 Woodfield Rd', 'Overland Park', 'Johnson', 'KS', '66204', Decimal('41'))
(Decimal('42'), 'Roxane', 'Campain', '1048 Main St', 'Fairbanks', 'Fairbanks North Star', 'AK', '99708', Decimal('42'))
(Decimal('43'), 'Lavera', 'Perin', '678 3rd Ave', 'Miami', 'Miami-Dade', 'FL', '33196', Decimal('43'))
(Decimal('44'), 'Erick', 'Ferencz', '20 S Babcock St', 'Fairbanks', 'Fairbanks North Star', 'AK', '99712', Decimal('44'))
(Decimal('45'), 'Fatima', 'Saylors', '2 Lighthouse Ave', 'Hopkins', 'Hennepin', 'MN', '55343', Decimal('45'))
(Decimal('46'), 'Jina', 'Briddick', '38938 Park Blvd', 'Boston', 'Suffolk', 'MA', '2128', Decimal('46'))
(Decimal('47'), 'Kanisha', 'Waycott', '5 Tomahawk Dr', 'Los Angeles', 'Los Angeles', 'CA', '90006', Decimal('47'))
(Decimal('48'), 'Emerson', 'Bowley', '762 S Main St', 'Madison', 'Dane', 'WI', '53711', Decimal('48'))
(Decimal('49'), 'Blair', 'Malet', '209 Decker Dr', 'Philadelphia', 'Philadelphia', 'PA', '19132', Decimal('49'))
(Decimal('50'), 'Brock', 'Bolognia', '4486 W O St #1', 'New York', 'New York', 'NY', '10003', Decimal('50'))
(Decimal('51'), 'Lorrie', 'Nestle', '39 S 7th St', 'Tullahoma', 'Coffee', 'TN', '37388', Decimal('51'))
(Decimal('52'), 'Sabra', 'Uyetake', '98839 Hawthorne Blvd #6101', 'Columbia', 'Richland', 'SC', '29201', Decimal('52'))
(Decimal('53'), 'Marjory', 'Mastella', '71 San Mateo Ave', 'Wayne', 'Delaware', 'PA', '19087', Decimal('53'))
(Decimal('54'), 'Karl', 'Klonowski', '76 Brooks St #9', 'Flemington', 'Hunterdon', 'NJ', '8822', Decimal('54'))
(Decimal('55'), 'Tonette', 'Wenner', '4545 Courthouse Rd', 'Westbury', 'Nassau', 'NY', '11590', Decimal('55'))
(Decimal('56'), 'Amber', 'Monarrez', '14288 Foster Ave #4121', 'Jenkintown', 'Montgomery', 'PA', '19046', Decimal('56'))
(Decimal('57'), 'Shenika', 'Seewald', '4 Otis St', 'Van Nuys', 'Los Angeles', 'CA', '91405', Decimal('57'))
(Decimal('58'), 'Delmy', 'Ahle', '65895 S 16th St', 'Providence', 'Providence', 'RI', '2909', Decimal('58'))
(Decimal('59'), 'Deeanna', 'Juhas', '14302 Pennsylvania Ave', 'Huntingdon Valley', 'Montgomery', 'PA', '19006', Decimal('59'))
(Decimal('60'), 'Blondell', 'Pugh', '201 Hawk Ct', 'Providence', 'Providence', 'RI', '2904', Decimal('60'))
(Decimal('61'), 'Jamal', 'Vanausdal', '53075 Sw 152nd Ter #615', 'Monroe Township', 'Middlesex', 'NJ', '8831', Decimal('61'))
(Decimal('62'), 'Cecily', 'Hollack', '59 N Groesbeck Hwy', 'Austin', 'Travis', 'TX', '78731', Decimal('62'))
(Decimal('63'), 'Carmelina', 'Lindall', '2664 Lewis Rd', 'Littleton', 'Douglas', 'CO', '80126', Decimal('63'))
(Decimal('64'), 'Maurine', 'Yglesias', '59 Shady Ln #53', 'Milwaukee', 'Milwaukee', 'WI', '53214', Decimal('64'))
(Decimal('65'), 'Tawna', 'Buvens', '3305 Nabell Ave #679', 'New York', 'New York', 'NY', '10009', Decimal('65'))
(Decimal('66'), 'Penney', 'Weight', '18 Fountain St', 'Anchorage', 'Anchorage', 'AK', '99515', Decimal('66'))
(Decimal('67'), 'Elly', 'Morocco', '7 W 32nd St', 'Erie', 'Erie', 'PA', '16502', Decimal('67'))
(Decimal('68'), 'Ilene', 'Eroman', '2853 S Central Expy', 'Glen Burnie', 'Anne Arundel', 'MD', '21061', Decimal('68'))
(Decimal('69'), 'Vallie', 'Mondella', '74 W College St', 'Boise', 'Ada', 'ID', '83707', Decimal('69'))
(Decimal('70'), 'Kallie', 'Blackwood', '701 S Harrison Rd', 'San Francisco', 'San Francisco', 'CA', '94104', Decimal('70'))
(Decimal('71'), 'Johnetta', 'Abdallah', '1088 Pinehurst St', 'Chapel Hill', 'Orange', 'NC', '27514', Decimal('71'))
(Decimal('72'), 'Bobbye', 'Rhym', '30 W 80th St #1995', 'San Carlos', 'San Mateo', 'CA', '94070', Decimal('72'))
(Decimal('73'), 'Micaela', 'Rhymes', '20932 Hedley St', 'Concord', 'Contra Costa', 'CA', '94520', Decimal('73'))
(Decimal('74'), 'Tamar', 'Hoogland', '2737 Pistorio Rd #9230', 'London', 'Madison', 'OH', '43140', Decimal('74'))
(Decimal('75'), 'Moon', 'Parlato', '74989 Brandon St', 'Wellsville', 'Allegany', 'NY', '14895', Decimal('75'))
(Decimal('76'), 'Laurel', 'Reitler', '6 Kains Ave', 'Baltimore', 'Baltimore City', 'MD', '21215', Decimal('76'))
(Decimal('77'), 'Delisa', 'Crupi', '47565 W Grand Ave', 'Newark', 'Essex', 'NJ', '7105', Decimal('77'))
(Decimal('78'), 'Viva', 'Toelkes', '4284 Dorigo Ln', 'Chicago', 'Cook', 'IL', '60647', Decimal('78'))
(Decimal('79'), 'Elza', 'Lipke', '6794 Lake Dr E', 'Newark', 'Essex', 'NJ', '7104', Decimal('79'))
(Decimal('80'), 'Devorah', 'Chickering', '31 Douglas Blvd #950', 'Clovis', 'Curry', 'NM', '88101', Decimal('80'))
(Decimal('81'), 'Timothy', 'Mulqueen', '44 W 4th St', 'Staten Island', 'Richmond', 'NY', '10309', Decimal('81'))
(Decimal('82'), 'Arlette', 'Honeywell', '11279 Loytan St', 'Jacksonville', 'Duval', 'FL', '32254', Decimal('82'))
(Decimal('83'), 'Dominque', 'Dickerson', '69 Marquette Ave', 'Hayward', 'Alameda', 'CA', '94545', Decimal('83'))
(Decimal('84'), 'Lettie', 'Isenhower', '70 W Main St', 'Beachwood', 'Cuyahoga', 'OH', '44122', Decimal('84'))
(Decimal('85'), 'Myra', 'Munns', '461 Prospect Pl #316', 'Euless', 'Tarrant', 'TX', '76040', Decimal('85'))
(Decimal('86'), 'Stephaine', 'Barfield', '47154 Whipple Ave Nw', 'Gardena', 'Los Angeles', 'CA', '90247', Decimal('86'))
(Decimal('87'), 'Lai', 'Gato', '37 Alabama Ave', 'Evanston', 'Cook', 'IL', '60201', Decimal('87'))
(Decimal('88'), 'Stephen', 'Emigh', '3777 E Richmond St #900', 'Akron', 'Summit', 'OH', '44302', Decimal('88'))
(Decimal('89'), 'Tyra', 'Shields', '3 Fort Worth Ave', 'Philadelphia', 'Philadelphia', 'PA', '19106', Decimal('89'))
(Decimal('90'), 'Tammara', 'Wardrip', '4800 Black Horse Pike', 'Burlingame', 'San Mateo', 'CA', '94010', Decimal('90'))
(Decimal('91'), 'Cory', 'Gibes', '83649 W Belmont Ave', 'San Gabriel', 'Los Angeles', 'CA', '91776', Decimal('91'))
(Decimal('92'), 'Danica', 'Bruschke', '840 15th Ave', 'Waco', 'McLennan', 'TX', '76708', Decimal('92'))
(Decimal('93'), 'Wilda', 'Giguere', '1747 Calle Amanecer #2', 'Anchorage', 'Anchorage', 'AK', '99501', Decimal('93'))
(Decimal('94'), 'Elvera', 'Benimadho', '99385 Charity St #840', 'San Jose', 'Santa Clara', 'CA', '95110', Decimal('94'))
(Decimal('95'), 'Carma', 'Vanheusen', '68556 Central Hwy', 'San Leandro', 'Alameda', 'CA', '94577', Decimal('95'))
(Decimal('96'), 'Malinda', 'Hochard', '55 Riverside Ave', 'Indianapolis', 'Marion', 'IN', '46202', Decimal('96'))
(Decimal('97'), 'Natalie', 'Fern', '7140 University Ave', 'Rock Springs', 'Sweetwater', 'WY', '82901', Decimal('97'))
(Decimal('98'), 'Lisha', 'Centini', '64 5th Ave #1153', 'Mc Lean', 'Fairfax', 'VA', '22102', Decimal('98'))
(Decimal('99'), 'Arlene', 'Klusman', '3 Secor Rd', 'New Orleans', 'Orleans', 'LA', '70112', Decimal('99'))
(Decimal('100'), 'Alease', 'Buemi', '4 Webbs Chapel Rd', 'Boulder', 'Boulder', 'CO', '80303', Decimal('100'))
(Decimal('101'), 'Louisa', 'Cronauer', '524 Louisiana Ave Nw', 'San Leandro', 'Alameda', 'CA', '94577', Decimal('101'))
(Decimal('102'), 'Angella', 'Cetta', '185 Blackstone Bldge', 'Honolulu', 'Honolulu', 'HI', '96817', Decimal('102'))
(Decimal('103'), 'Cyndy', 'Goldammer', '170 Wyoming Ave', 'Burnsville', 'Dakota', 'MN', '55337', Decimal('103'))
(Decimal('104'), 'Rosio', 'Cork', '4 10th St W', 'High Point', 'Guilford', 'NC', '27263', Decimal('104'))
(Decimal('105'), 'Celeste', 'Korando', '7 W Pinhook Rd', 'Lynbrook', 'Nassau', 'NY', '11563', Decimal('105'))
(Decimal('106'), 'Twana', 'Felger', '1 Commerce Way', 'Portland', 'Washington', 'OR', '97224', Decimal('106'))
(Decimal('107'), 'Estrella', 'Samu', '64 Lakeview Ave', 'Beloit', 'Rock', 'WI', '53511', Decimal('107'))
(Decimal('108'), 'Donte', 'Kines', '3 Aspen St', 'Worcester', 'Worcester', 'MA', '1602', Decimal('108'))
(Decimal('109'), 'Tiffiny', 'Steffensmeier', '32860 Sierra Rd', 'Miami', 'Miami-Dade', 'FL', '33133', Decimal('109'))
(Decimal('110'), 'Edna', 'Miceli', '555 Main St', 'Erie', 'Erie', 'PA', '16502', Decimal('110'))
(Decimal('111'), 'Sue', 'Kownacki', '2 Se 3rd Ave', 'Mesquite', 'Dallas', 'TX', '75149', Decimal('111'))
(Decimal('112'), 'Jesusa', 'Shin', '2239 Shawnee Mission Pky', 'Tullahoma', 'Coffee', 'TN', '37388', Decimal('112'))
(Decimal('113'), 'Rolland', 'Francescon', '2726 Charcot Ave', 'Paterson', 'Passaic', 'NJ', '7501', Decimal('113'))
(Decimal('114'), 'Pamella', 'Schmierer', '5161 Dorsett Rd', 'Homestead', 'Miami-Dade', 'FL', '33030', Decimal('114'))
(Decimal('115'), 'Glory', 'Kulzer', '55892 Jacksonville Rd', 'Owings Mills', 'Baltimore', 'MD', '21117', Decimal('115'))
(Decimal('116'), 'Shawna', 'Palaspas', '5 N Cleveland Massillon Rd', 'Thousand Oaks', 'Ventura', 'CA', '91362', Decimal('116'))
(Decimal('117'), 'Brandon', 'Callaro', '7 Benton Dr', 'Honolulu', 'Honolulu', 'HI', '96819', Decimal('117'))
(Decimal('118'), 'Scarlet', 'Cartan', '9390 S Howell Ave', 'Albany', 'Dougherty', 'GA', '31701', Decimal('118'))
(Decimal('119'), 'Oretha', 'Menter', '8 County Center Dr #647', 'Boston', 'Suffolk', 'MA', '2210', Decimal('119'))
(Decimal('120'), 'Ty', 'Smith', '4646 Kaahumanu St', 'Hackensack', 'Bergen', 'NJ', '7601', Decimal('120'))
(Decimal('121'), 'Xuan', 'Rochin', '2 Monroe St', 'San Mateo', 'San Mateo', 'CA', '94403', Decimal('121'))
(Decimal('122'), 'Lindsey', 'Dilello', '52777 Leaders Heights Rd', 'Ontario', 'San Bernardino', 'CA', '91761', Decimal('122'))
(Decimal('123'), 'Devora', 'Perez', '72868 Blackington Ave', 'Oakland', 'Alameda', 'CA', '94606', Decimal('123'))
(Decimal('124'), 'Herman', 'Demesa', '9 Norristown Rd', 'Troy', 'Rensselaer', 'NY', '12180', Decimal('124'))
(Decimal('125'), 'Rory', 'Papasergi', '83 County Road 437 #8581', 'Clarks Summit', 'Lackawanna', 'PA', '18411', Decimal('125'))
(Decimal('126'), 'Talia', 'Riopelle', '1 N Harlem Ave #9', 'Orange', 'Essex', 'NJ', '7050', Decimal('126'))
(Decimal('127'), 'Van', 'Shire', '90131 J St', 'Pittstown', 'Hunterdon', 'NJ', '8867', Decimal('127'))
(Decimal('128'), 'Lucina', 'Lary', '8597 W National Ave', 'Cocoa', 'Brevard', 'FL', '32922', Decimal('128'))
(Decimal('129'), 'Bok', 'Isaacs', '6 Gilson St', 'Bronx', 'Bronx', 'NY', '10468', Decimal('129'))
(Decimal('130'), 'Rolande', 'Spickerman', '65 W Maple Ave', 'Pearl City', 'Honolulu', 'HI', '96782', Decimal('130'))
(Decimal('131'), 'Howard', 'Paulas', '866 34th Ave', 'Denver', 'Denver', 'CO', '80231', Decimal('131'))
(Decimal('132'), 'Kimbery', 'Madarang', '798 Lund Farm Way', 'Rockaway', 'Morris', 'NJ', '7866', Decimal('132'))
(Decimal('133'), 'Thurman', 'Manno', '9387 Charcot Ave', 'Absecon', 'Atlantic', 'NJ', '8201', Decimal('133'))
(Decimal('134'), 'Becky', 'Mirafuentes', '30553 Washington Rd', 'Plainfield', 'Union', 'NJ', '7062', Decimal('134'))
(Decimal('135'), 'Beatriz', 'Corrington', '481 W Lemon St', 'Middleboro', 'Plymouth', 'MA', '2346', Decimal('135'))
(Decimal('136'), 'Marti', 'Maybury', '4 Warehouse Point Rd #7', 'Chicago', 'Cook', 'IL', '60638', Decimal('136'))
(Decimal('137'), 'Nieves', 'Gotter', '4940 Pulaski Park Dr', 'Portland', 'Multnomah', 'OR', '97202', Decimal('137'))
(Decimal('138'), 'Leatha', 'Hagele', '627 Walford Ave', 'Dallas', 'Dallas', 'TX', '75227', Decimal('138'))
(Decimal('139'), 'Valentin', 'Klimek', '137 Pioneer Way', 'Chicago', 'Cook', 'IL', '60604', Decimal('139'))
(Decimal('140'), 'Melissa', 'Wiklund', '61 13 Stoneridge #835', 'Findlay', 'Hancock', 'OH', '45840', Decimal('140'))
(Decimal('141'), 'Sheridan', 'Zane', '2409 Alabama Rd', 'Riverside', 'Riverside', 'CA', '92501', Decimal('141'))
(Decimal('142'), 'Bulah', 'Padilla', '8927 Vandever Ave', 'Waco', 'McLennan', 'TX', '76707', Decimal('142'))
(Decimal('143'), 'Audra', 'Kohnert', '134 Lewis Rd', 'Nashville', 'Davidson', 'TN', '37211', Decimal('143'))
(Decimal('144'), 'Daren', 'Weirather', '9 N College Ave #3', 'Milwaukee', 'Milwaukee', 'WI', '53216', Decimal('144'))
(Decimal('145'), 'Fernanda', 'Jillson', '60480 Old Us Highway 51', 'Preston', 'Caroline', 'MD', '21655', Decimal('145'))
(Decimal('146'), 'Gearldine', 'Gellinger', '4 Bloomfield Ave', 'Irving', 'Dallas', 'TX', '75061', Decimal('146'))
(Decimal('147'), 'Chau', 'Kitzman', '429 Tiger Ln', 'Beverly Hills', 'Los Angeles', 'CA', '90212', Decimal('147'))
(Decimal('148'), 'Theola', 'Frey', '54169 N Main St', 'Massapequa', 'Nassau', 'NY', '11758', Decimal('148'))
(Decimal('149'), 'Cheryl', 'Haroldson', '92 Main St', 'Atlantic City', 'Atlantic', 'NJ', '8401', Decimal('149'))
(Decimal('150'), 'Laticia', 'Merced', '72 Mannix Dr', 'Cincinnati', 'Hamilton', 'OH', '45203', Decimal('150'))
(Decimal('151'), 'Carissa', 'Batman', '12270 Caton Center Dr', 'Eugene', 'Lane', 'OR', '97401', Decimal('151'))
(Decimal('152'), 'Lezlie', 'Craghead', '749 W 18th St #45', 'Smithfield', 'Johnston', 'NC', '27577', Decimal('152'))
(Decimal('153'), 'Ozell', 'Shealy', '8 Industry Ln', 'New York', 'New York', 'NY', '10002', Decimal('153'))
(Decimal('154'), 'Arminda', 'Parvis', '1 Huntwood Ave', 'Phoenix', 'Maricopa', 'AZ', '85017', Decimal('154'))
(Decimal('155'), 'Reita', 'Leto', '55262 N French Rd', 'Indianapolis', 'Marion', 'IN', '46240', Decimal('155'))
(Decimal('156'), 'Yolando', 'Luczki', '422 E 21st St', 'Syracuse', 'Onondaga', 'NY', '13214', Decimal('156'))
(Decimal('157'), 'Lizette', 'Stem', '501 N 19th Ave', 'Cherry Hill', 'Camden', 'NJ', '8002', Decimal('157'))
(Decimal('158'), 'Gregoria', 'Pawlowicz', '455 N Main Ave', 'Garden City', 'Nassau', 'NY', '11530', Decimal('158'))
(Decimal('159'), 'Carin', 'Deleo', '1844 Southern Blvd', 'Little Rock', 'Pulaski', 'AR', '72202', Decimal('159'))
(Decimal('160'), 'Chantell', 'Maynerich', '2023 Greg St', 'Saint Paul', 'Ramsey', 'MN', '55101', Decimal('160'))
(Decimal('241'), 'Lauran', 'Burnard', '66697 Park Pl #3224', 'Riverton', 'Fremont', 'WY', '82501', Decimal('241'))
(Decimal('161'), 'Dierdre', 'Yum', '63381 Jenks Ave', 'Philadelphia', 'Philadelphia', 'PA', '19134', Decimal('161'))
(Decimal('162'), 'Larae', 'Gudroe', '6651 Municipal Rd', 'Houma', 'Terrebonne', 'LA', '70360', Decimal('162'))
(Decimal('163'), 'Latrice', 'Tolfree', '81 Norris Ave #525', 'Ronkonkoma', 'Suffolk', 'NY', '11779', Decimal('163'))
(Decimal('164'), 'Kerry', 'Theodorov', '6916 W Main St', 'Sacramento', 'Sacramento', 'CA', '95827', Decimal('164'))
(Decimal('165'), 'Dorthy', 'Hidvegi', '9635 S Main St', 'Boise', 'Ada', 'ID', '83704', Decimal('165'))
(Decimal('166'), 'Fannie', 'Lungren', '17 Us Highway 111', 'Round Rock', 'Williamson', 'TX', '78664', Decimal('166'))
(Decimal('167'), 'Evangelina', 'Radde', '992 Civic Center Dr', 'Philadelphia', 'Philadelphia', 'PA', '19123', Decimal('167'))
(Decimal('168'), 'Novella', 'Degroot', '303 N Radcliffe St', 'Hilo', 'Hawaii', 'HI', '96720', Decimal('168'))
(Decimal('169'), 'Clay', 'Hoa', '73 Saint Ann St #86', 'Reno', 'Washoe', 'NV', '89502', Decimal('169'))
(Decimal('170'), 'Jennifer', 'Fallick', '44 58th St', 'Wheeling', 'Cook', 'IL', '60090', Decimal('170'))
(Decimal('171'), 'Irma', 'Wolfgramm', '9745 W Main St', 'Randolph', 'Morris', 'NJ', '7869', Decimal('171'))
(Decimal('172'), 'Eun', 'Coody', '84 Bloomfield Ave', 'Spartanburg', 'Spartanburg', 'SC', '29301', Decimal('172'))
(Decimal('173'), 'Sylvia', 'Cousey', '287 Youngstown Warren Rd', 'Hampstead', 'Carroll', 'MD', '21074', Decimal('173'))
(Decimal('174'), 'Nana', 'Wrinkles', '6 Van Buren St', 'Mount Vernon', 'Westchester', 'NY', '10553', Decimal('174'))
(Decimal('175'), 'Layla', 'Springe', '229 N Forty Driv', 'New York', 'New York', 'NY', '10011', Decimal('175'))
(Decimal('176'), 'Joesph', 'Degonia', '2887 Knowlton St #5435', 'Berkeley', 'Alameda', 'CA', '94710', Decimal('176'))

In [10]:
for index, row in myDataFrame2.iterrows():
    insertdata = "('"+str(index)+ "', '"+row[0]+"','"+str(row[1])+"')"
    
    query.execute("INSERT INTO phone values "+insertdata)
    print( "row inserted:", insertdata)

row inserted: ('0', '504-621-8927','504-845-1427')
row inserted: ('1', '810-292-9388','810-374-9840')
row inserted: ('2', '856-636-8749','856-264-4130')
row inserted: ('3', '907-385-4412','907-921-2010')
row inserted: ('4', '513-570-1893','513-549-4561')
row inserted: ('5', '419-503-2484','419-800-6759')
row inserted: ('6', '773-573-6914','773-924-8565')
row inserted: ('7', '408-752-3500','408-813-1105')
row inserted: ('8', '605-414-2147','605-794-4895')
row inserted: ('9', '410-655-8723','410-804-4694')
row inserted: ('10', '215-874-1229','215-422-8694')
row inserted: ('11', '631-335-3414','631-677-3675')
row inserted: ('12', '310-498-5651','310-254-3084')
row inserted: ('13', '440-780-8425','440-579-7763')
row inserted: ('14', '956-537-6195','956-841-7216')
row inserted: ('15', '602-277-4385','602-953-6360')
row inserted: ('16', '931-313-9635','931-235-7959')
row inserted: ('17', '414-661-9598','414-377-2880')
row inserted: ('18', '313-288-7937','313-341-4470')
row inserted: ('19', '815-828-2147','815-426-5657')
row inserted: ('20', '610-545-3615','610-492-4643')
row inserted: ('21', '408-540-1785','408-813-4592')
row inserted: ('22', '972-303-9197','972-896-4882')
row inserted: ('23', '518-966-7987','518-448-8982')
row inserted: ('24', '732-658-3154','732-635-3453')
row inserted: ('25', '715-662-6764','715-530-9863')
row inserted: ('26', '913-388-2079','913-899-1103')
row inserted: ('27', '410-669-1642','410-235-8738')
row inserted: ('28', '212-582-4976','212-934-5167')
row inserted: ('29', '936-336-3951','936-597-3614')
row inserted: ('30', '614-801-9788','614-648-3265')
row inserted: ('31', '505-977-3911','505-335-5293')
row inserted: ('32', '201-709-6245','201-387-9093')
row inserted: ('33', '732-924-7882','732-782-6701')
row inserted: ('34', '212-860-1579','212-753-2740')
row inserted: ('35', '504-979-9175','504-265-8174')
row inserted: ('36', '212-675-8570','212-569-4233')
row inserted: ('37', '805-832-6163','805-609-1531')
row inserted: ('38', '210-812-9597','210-300-6244')
row inserted: ('39', '785-463-7829','785-219-7724')
row inserted: ('40', '541-548-8197','541-993-2611')
row inserted: ('41', '913-413-4604','913-645-8918')
row inserted: ('42', '907-231-4722','907-335-6568')
row inserted: ('43', '305-606-7291','305-995-2078')
row inserted: ('44', '907-741-1044','907-227-6777')
row inserted: ('45', '952-768-2416','952-479-2375')
row inserted: ('46', '617-399-5124','617-997-5771')
row inserted: ('47', '323-453-2780','323-315-7314')
row inserted: ('48', '608-336-7444','608-658-7940')
row inserted: ('49', '215-907-9111','215-794-4519')
row inserted: ('50', '212-402-9216','212-617-5063')
row inserted: ('51', '931-875-6644','931-303-6041')
row inserted: ('52', '803-925-5213','803-681-3678')
row inserted: ('53', '610-814-5533','610-379-7125')
row inserted: ('54', '908-877-6135','908-470-4661')
row inserted: ('55', '516-968-6051','516-333-4861')
row inserted: ('56', '215-934-8655','215-329-6386')
row inserted: ('57', '818-423-4007','818-749-8650')
row inserted: ('58', '401-458-2547','401-559-8961')
row inserted: ('59', '215-211-9589','215-417-9563')
row inserted: ('60', '401-960-8259','401-300-8122')
row inserted: ('61', '732-234-1546','732-904-2931')
row inserted: ('62', '512-486-3817','512-861-3814')
row inserted: ('63', '303-724-7371','303-874-5160')
row inserted: ('64', '414-748-1374','414-573-7719')
row inserted: ('65', '212-674-9610','212-462-9157')
row inserted: ('66', '907-797-9628','907-873-2882')
row inserted: ('67', '814-393-5571','814-420-3553')
row inserted: ('68', '410-914-9018','410-937-4543')
row inserted: ('69', '208-862-5339','208-737-8439')
row inserted: ('70', '415-315-2761','415-604-7609')
row inserted: ('71', '919-225-9345','919-715-3791')
row inserted: ('72', '650-528-5783','650-811-9032')
row inserted: ('73', '925-647-3298','925-522-7798')
row inserted: ('74', '740-343-8575','740-526-5410')
row inserted: ('75', '585-866-8313','585-498-4278')
row inserted: ('76', '410-520-4832','410-957-6903')
row inserted: ('77', '973-354-2040','973-847-9611')
row inserted: ('78', '773-446-5569','773-352-3437')
row inserted: ('79', '973-927-3447','973-796-3667')
row inserted: ('80', '505-975-8559','505-950-1763')
row inserted: ('81', '718-332-6527','718-654-7063')
row inserted: ('82', '904-775-4480','904-514-9918')
row inserted: ('83', '510-993-3758','510-901-7640')
row inserted: ('84', '216-657-7668','216-733-8494')
row inserted: ('85', '817-914-7518','817-451-3518')
row inserted: ('86', '310-774-7643','310-968-1219')
row inserted: ('87', '847-728-7286','847-957-4614')
row inserted: ('88', '330-537-5358','330-700-2312')
row inserted: ('89', '215-255-1641','215-228-8264')
row inserted: ('90', '650-803-1936','650-216-5075')
row inserted: ('91', '626-572-1096','626-696-2777')
row inserted: ('92', '254-782-8569','254-205-1422')
row inserted: ('93', '907-870-5536','907-914-9482')
row inserted: ('94', '408-703-8505','408-440-8447')
row inserted: ('95', '510-503-7169','510-452-4835')
row inserted: ('96', '317-722-5066','317-472-2412')
row inserted: ('97', '307-704-8713','307-279-3793')
row inserted: ('98', '703-235-3937','703-475-7568')
row inserted: ('99', '504-710-5840','504-946-1807')
row inserted: ('100', '303-301-4946','303-521-9860')
row inserted: ('101', '510-828-7047','510-472-7758')
row inserted: ('102', '808-892-7943','808-475-2310')
row inserted: ('103', '952-334-9408','952-938-9457')
row inserted: ('104', '336-243-5659','336-497-4407')
row inserted: ('105', '516-509-2347','516-365-7266')
row inserted: ('106', '503-939-3153','503-909-7167')
row inserted: ('107', '608-976-7199','608-942-8836')
row inserted: ('108', '508-429-8576','508-843-1426')
row inserted: ('109', '305-385-9695','305-304-6573')
row inserted: ('110', '814-460-2655','814-299-2877')
row inserted: ('111', '972-666-3413','972-742-4000')
row inserted: ('112', '931-273-8709','931-739-1551')
row inserted: ('113', '973-649-2922','973-284-4048')
row inserted: ('114', '305-420-8970','305-575-8481')
row inserted: ('115', '410-224-9462','410-916-8015')
row inserted: ('116', '805-275-3566','805-638-6617')
row inserted: ('117', '808-215-6832','808-240-5168')
row inserted: ('118', '229-735-3378','229-365-9658')
row inserted: ('119', '617-418-5043','617-697-6024')
row inserted: ('120', '201-672-1553','201-995-3149')
row inserted: ('121', '650-933-5072','650-247-2625')
row inserted: ('122', '909-639-9887','909-589-1693')
row inserted: ('123', '510-955-3016','510-755-9274')
row inserted: ('124', '518-497-2940','518-931-7852')
row inserted: ('125', '570-867-7489','570-469-8401')
row inserted: ('126', '973-245-2133','973-818-9788')
row inserted: ('127', '908-409-2890','908-448-1209')
row inserted: ('128', '321-749-4981','321-632-4668')
row inserted: ('129', '718-809-3762','718-478-8568')
row inserted: ('130', '808-315-3077','808-526-5863')
row inserted: ('131', '303-623-4241','303-692-3118')
row inserted: ('132', '973-310-1634','973-225-6259')
row inserted: ('133', '609-524-3586','609-234-8376')
row inserted: ('134', '908-877-8409','908-426-8272')
row inserted: ('135', '508-584-4279','508-315-3867')
row inserted: ('136', '773-775-4522','773-539-1058')
row inserted: ('137', '503-527-5274','503-455-3094')
row inserted: ('138', '214-339-1809','214-225-5850')
row inserted: ('139', '312-303-5453','312-512-2338')
row inserted: ('140', '419-939-3613','419-254-4591')
row inserted: ('141', '951-645-3605','951-248-6822')
row inserted: ('142', '254-463-4368','254-816-8417')
row inserted: ('143', '615-406-7854','615-448-9249')
row inserted: ('144', '414-959-2540','414-838-3151')
row inserted: ('145', '410-387-5260','410-724-6472')
row inserted: ('146', '972-934-6914','972-821-7118')
row inserted: ('147', '310-560-8022','310-969-7230')
row inserted: ('148', '516-948-5768','516-357-3362')
row inserted: ('149', '609-518-7697','609-263-9243')
row inserted: ('150', '513-508-7371','513-418-1566')
row inserted: ('151', '541-326-4074','541-801-5717')
row inserted: ('152', '919-533-3762','919-885-2453')
row inserted: ('153', '212-332-8435','212-880-8865')
row inserted: ('154', '602-906-9419','602-277-3025')
row inserted: ('155', '317-234-1135','317-787-5514')
row inserted: ('156', '315-304-4759','315-640-6357')
row inserted: ('157', '856-487-5412','856-702-3676')
row inserted: ('158', '516-212-1915','516-376-4230')
row inserted: ('159', '501-308-1040','501-409-6072')
row inserted: ('160', '651-591-2583','651-776-9688')
row inserted: ('161', '215-325-3042','215-346-4666')
row inserted: ('162', '985-890-7262','985-261-5783')
row inserted: ('163', '631-957-7624','631-998-2102')
row inserted: ('164', '916-591-3277','916-770-7448')
row inserted: ('165', '208-649-2373','208-690-3315')
row inserted: ('166', '512-587-5746','512-528-9933')
row inserted: ('167', '215-964-3284','215-417-5612')
row inserted: ('168', '808-477-4775','808-746-1865')
row inserted: ('169', '775-501-8109','775-848-9135')
row inserted: ('170', '847-979-9545','847-800-3054')
row inserted: ('171', '973-545-7355','973-868-8660')
row inserted: ('172', '864-256-3620','864-594-4578')
row inserted: ('173', '410-209-9545','410-863-8263')
row inserted: ('174', '914-855-2115','914-796-3775')
row inserted: ('175', '212-260-3151','212-253-7448')
row inserted: ('176', '510-677-9785','510-942-5916')
row inserted: ('177', '978-697-6263','978-289-7717')
row inserted: ('178', '415-767-6596','415-712-9530')
row inserted: ('179', '201-971-1638','201-247-8925')
row inserted: ('180', '925-634-7158','925-541-8521')
row inserted: ('181', '773-494-4195','773-297-9391')
row inserted: ('182', '973-943-3423','973-582-5469')
row inserted: ('183', '419-544-4900','419-573-2033')
row inserted: ('184', '310-579-2907','310-694-8466')
row inserted: ('185', '352-242-2570','352-990-5946')
row inserted: ('186', '408-758-5015','408-346-2180')
row inserted: ('187', '570-889-5187','570-355-1665')
row inserted: ('188', '201-588-7810','201-858-9960')
row inserted: ('189', '925-615-5185','925-943-3449')
row inserted: ('190', '908-802-3564','908-602-5258')
row inserted: ('191', '631-748-6479','631-291-4976')
row inserted: ('192', '805-690-1682','805-810-8964')
row inserted: ('193', '908-275-8357','908-943-6103')
row inserted: ('194', '503-940-8327','503-707-5812')
row inserted: ('195', '503-516-2189','503-950-3068')
row inserted: ('196', '856-305-9731','856-828-6021')
row inserted: ('197', '770-507-8791','770-802-4003')
row inserted: ('198', '904-235-3633','904-627-4341')
row inserted: ('199', '207-458-9196','207-233-6185')
row inserted: ('200', '817-765-5781','817-577-6151')
row inserted: ('201', '716-752-4114','716-854-9845')
row inserted: ('202', '305-670-9628','305-857-5489')
row inserted: ('203', '212-313-1783','212-778-3063')

row inserted: ('204', '215-605-7570','215-511-3531')
row inserted: ('205', '850-430-1663','850-330-8079')
row inserted: ('206', '415-306-7897','415-874-2984')
row inserted: ('207', '408-504-3552','408-425-1994')
row inserted: ('208', '650-947-1215','650-960-1069')
row inserted: ('209', '818-864-4875','818-481-5787')
row inserted: ('210', '215-558-8189','215-483-3003')
row inserted: ('211', '337-253-8384','337-774-7564')
row inserted: ('212', '313-533-4884','313-390-7855')
row inserted: ('213', '512-213-8574','512-693-8345')
row inserted: ('214', '214-428-2285','214-529-1949')
row inserted: ('215', '206-697-5796','206-389-1482')
row inserted: ('216', '610-476-3501','610-752-2683')
row inserted: ('217', '215-372-1718','215-829-4221')
row inserted: ('218', '310-858-5079','310-499-4200')
row inserted: ('219', '707-653-8214','707-881-3154')
row inserted: ('220', '407-808-9439','407-945-8566')
row inserted: ('221', '760-971-4322','760-465-4762')
row inserted: ('222', '508-837-9230','508-504-6388')
row inserted: ('223', '936-264-9294','936-988-8171')
row inserted: ('224', '414-214-8697','414-411-5744')
row inserted: ('225', '626-636-4117','626-638-4241')
row inserted: ('226', '914-300-9193','914-654-1426')
row inserted: ('227', '214-289-1973','214-785-6750')
row inserted: ('228', '228-235-5615','228-432-4635')
row inserted: ('229', '305-604-8981','305-287-4743')
row inserted: ('230', '212-304-9225','212-311-6377')
row inserted: ('231', '201-474-4924','201-365-8698')
row inserted: ('232', '734-928-5182','734-408-8174')
row inserted: ('233', '631-258-6558','631-295-9879')
row inserted: ('234', '330-791-8557','330-618-2579')
row inserted: ('235', '203-506-4706','203-840-8634')
row inserted: ('236', '703-322-4041','703-938-7939')
row inserted: ('237', '978-626-2978','978-679-7429')
row inserted: ('238', '419-693-1334','419-313-5571')
row inserted: ('239', '253-660-7821','253-875-9222')
row inserted: ('240', '916-741-7884','916-289-4526')
row inserted: ('241', '307-342-7795','307-453-7589')
row inserted: ('242', '207-627-7565','207-297-5029')
row inserted: ('243', '215-491-5633','215-647-2158')
row inserted: ('244', '813-769-2939','813-863-6467')
row inserted: ('245', '619-608-1763','619-695-8086')
row inserted: ('246', '979-718-8968','979-809-5770')
row inserted: ('247', '847-233-3075','847-265-6609')
row inserted: ('248', '609-228-5265','609-854-7156')
row inserted: ('249', '908-722-7128','908-670-4712')
row inserted: ('250', '718-560-9537','718-280-4183')
row inserted: ('251', '314-787-1588','314-858-4832')
row inserted: ('252', '209-317-1801','209-242-7022')
row inserted: ('253', '973-936-5095','973-822-8827')
row inserted: ('254', '317-578-2453','317-441-5848')
row inserted: ('255', '206-540-6076','206-295-5631')
row inserted: ('256', '336-822-7652','336-467-3095')
row inserted: ('257', '785-629-8542','785-616-1685')
row inserted: ('258', '407-471-6908','407-429-2145')
row inserted: ('259', '612-508-2655','612-664-6304')
row inserted: ('260', '803-352-5387','803-975-3405')
row inserted: ('261', '707-300-1771','707-821-8037')
row inserted: ('262', '847-222-1734','847-556-2909')
row inserted: ('263', '949-867-4077','949-903-3898')
row inserted: ('264', '303-404-2210','303-794-1341')
row inserted: ('265', '203-801-6193','203-801-8497')
row inserted: ('266', '425-986-7573','425-700-3751')
row inserted: ('267', '440-989-5826','440-327-2093')
row inserted: ('268', '603-315-6839','603-745-7497')
row inserted: ('269', '321-518-5938','321-597-2159')
row inserted: ('270', '212-792-8658','212-782-3493')
row inserted: ('271', '714-584-2237','714-698-2170')
row inserted: ('272', '248-913-4677','248-793-4966')
row inserted: ('273', '317-825-4724','317-342-1532')
row inserted: ('274', '940-276-7922','940-302-3036')
row inserted: ('275', '203-721-3388','203-564-1543')
row inserted: ('276', '410-739-9277','410-259-2118')
row inserted: ('277', '504-463-4384','504-635-8518')
row inserted: ('278', '804-550-5097','804-858-1011')
row inserted: ('279', '215-979-8776','215-846-9046')
row inserted: ('280', '952-651-7597','952-906-4597')
row inserted: ('281', '305-936-8226','305-573-1085')
row inserted: ('282', '414-263-5287','414-660-9766')
row inserted: ('283', '732-941-2621','732-445-6940')
row inserted: ('284', '701-898-2154','701-421-7080')
row inserted: ('285', '775-638-9963','775-578-1214')
row inserted: ('286', '602-954-5141','602-304-6433')
row inserted: ('287', '615-390-2251','615-825-4297')
row inserted: ('288', '410-351-1863','410-951-2667')
row inserted: ('289', '212-870-1286','212-745-6948')
row inserted: ('290', '806-703-1435','806-558-5848')
row inserted: ('291', '323-765-2528','323-842-8226')
row inserted: ('292', '619-509-5282','619-666-4765')
row inserted: ('293', '770-732-1194','770-531-2842')
row inserted: ('294', '508-769-5250','508-502-5634')
row inserted: ('295', '269-756-7222','269-431-9464')
row inserted: ('296', '973-714-1721','973-976-8627')
row inserted: ('297', '337-740-9323','337-751-2326')
row inserted: ('298', '717-491-5643','717-583-1497')
row inserted: ('299', '314-359-9566','314-231-3514')
row inserted: ('300', '817-213-8851','817-947-9480')
row inserted: ('301', '813-932-8715','813-357-7296')
row inserted: ('302', '770-679-4752','770-930-9967')
row inserted: ('303', '760-938-6069','760-745-2649')
row inserted: ('304', '517-906-1108','517-747-7664')
row inserted: ('305', '602-390-4944','602-330-6894')
row inserted: ('306', '207-295-7569','207-748-3722')
row inserted: ('307', '301-696-6420','301-392-6698')
row inserted: ('308', '717-809-3119','717-344-2804')
row inserted: ('309', '972-419-7946','972-898-1033')
row inserted: ('310', '406-318-1515','406-374-7752')
row inserted: ('311', '973-767-3008','973-563-9502')
row inserted: ('312', '248-980-6904','248-697-7722')
row inserted: ('313', '216-923-3715','216-270-9653')
row inserted: ('314', '325-631-1560','325-667-7868')
row inserted: ('315', '817-526-4408','817-819-7799')
row inserted: ('316', '718-201-3751','718-732-9475')
row inserted: ('317', '401-893-4882','401-885-7681')
row inserted: ('318', '717-885-9118','717-686-7564')
row inserted: ('319', '401-948-4982','401-552-9059')
row inserted: ('320', '305-622-4739','305-302-1135')
row inserted: ('321', '201-832-4168','201-412-3040')
row inserted: ('322', '210-856-4979','210-634-2447')
row inserted: ('323', '718-478-8504','718-853-3740')
row inserted: ('324', '909-993-3242','909-631-5703')
row inserted: ('325', '216-230-4892','216-937-5320')
row inserted: ('326', '212-304-4515','212-225-9676')
row inserted: ('327', '804-762-9576','804-808-9574')
row inserted: ('328', '706-221-4243','706-616-5131')
row inserted: ('329', '337-515-1438','337-991-8070')
row inserted: ('330', '973-544-2677','973-986-4456')
row inserted: ('331', '607-407-3716','607-350-7690')
row inserted: ('332', '973-412-2995','973-355-2120')
row inserted: ('333', '208-252-4552','208-793-4108')
row inserted: ('334', '415-411-1775','415-284-2730')
row inserted: ('335', '508-942-4186','508-618-7826')
row inserted: ('336', '248-357-8718','248-811-5696')
row inserted: ('337', '920-353-6377','920-355-1610')
row inserted: ('338', '410-665-4903','410-773-3862')
row inserted: ('339', '719-669-1664','719-547-9543')
row inserted: ('340', '419-588-8719','419-399-1744')
row inserted: ('341', '301-998-9644','301-257-4883')
row inserted: ('342', '508-855-9887','508-897-7916')
row inserted: ('343', '703-483-1970','703-892-2914')
row inserted: ('344', '410-678-2473','410-912-6032')
row inserted: ('345', '512-223-4791','512-742-1149')
row inserted: ('346', '623-461-8551','623-426-4907')
row inserted: ('347', '419-571-5920','419-488-6648')
row inserted: ('348', '206-311-4137','206-923-6042')
row inserted: ('349', '513-617-2362','513-747-9603')
row inserted: ('350', '812-368-1511','812-442-8544')
row inserted: ('351', '847-353-2156','847-613-5866')
row inserted: ('352', '718-232-2337','718-394-4974')
row inserted: ('353', '407-446-4358','407-808-3254')
row inserted: ('354', '310-820-2117','310-652-2379')
row inserted: ('355', '813-797-4816','813-744-7100')
row inserted: ('356', '915-452-1290','915-300-6100')
row inserted: ('357', '619-603-5125','619-935-6661')
row inserted: ('358', '301-841-5012','301-591-3034')
row inserted: ('359', '714-523-6653','714-663-9740')
row inserted: ('360', '314-732-9131','314-697-3652')
row inserted: ('361', '512-233-1831','512-942-3411')

row inserted: ('362', '336-670-2640','336-364-6037')
row inserted: ('363', '631-443-4710','631-288-2866')
row inserted: ('364', '201-825-2514','201-749-8866')
row inserted: ('365', '901-412-4381','901-573-9024')
row inserted: ('366', '404-505-4445','404-607-8435')
row inserted: ('367', '650-473-1262','650-749-9879')
row inserted: ('368', '952-702-7993','952-314-5871')
row inserted: ('369', '480-726-1280','480-205-5121')
row inserted: ('370', '718-976-8610','718-613-9994')
row inserted: ('371', '770-844-3447','770-584-4119')
row inserted: ('372', '507-210-3510','507-590-5237')
row inserted: ('373', '203-461-1949','203-938-2557')
row inserted: ('374', '260-273-3725','260-382-4869')
row inserted: ('375', '601-927-8287','601-249-4511')
row inserted: ('376', '586-970-7380','586-247-1614')
row inserted: ('377', '719-853-3600','719-223-2074')
row inserted: ('378', '212-745-8484','212-422-5427')
row inserted: ('379', '510-686-3407','510-441-4055')
row inserted: ('380', '773-704-9903','773-359-6109')
row inserted: ('381', '570-218-4831','570-868-8688')
row inserted: ('382', '530-986-9272','530-399-3254')
row inserted: ('383', '845-823-8877','845-694-7919')
row inserted: ('384', '216-600-6111','216-871-6876')
row inserted: ('385', '973-852-2736','973-473-5108')
row inserted: ('386', '907-435-9166','907-770-3542')
row inserted: ('387', '215-268-1275','215-380-8820')
row inserted: ('388', '513-977-7043','513-863-9471')
row inserted: ('389', '310-699-1222','310-955-5788')
row inserted: ('390', '515-370-7348','515-372-1738')
row inserted: ('391', '610-809-1818','610-378-7332')
row inserted: ('392', '919-623-2524','919-254-5987')
row inserted: ('393', '509-695-5199','509-595-6485')
row inserted: ('394', '914-868-5965','914-883-3061')
row inserted: ('395', '410-757-1035','410-234-2267')
row inserted: ('396', '516-847-4418','516-732-6649')
row inserted: ('397', '508-456-4907','508-658-7802')
row inserted: ('398', '918-644-9555','918-565-1706')
row inserted: ('399', '231-467-9978','231-265-6940')
row inserted: ('400', '337-566-6001','337-255-3427')
row inserted: ('401', '419-975-3182','419-417-4674')
row inserted: ('402', '619-461-9984','619-727-3892')
row inserted: ('403', '203-892-3863','203-918-3939')
row inserted: ('404', '201-920-9002','201-969-7063')
row inserted: ('405', '330-903-1345','330-566-8898')
row inserted: ('406', '201-238-5688','201-772-4377')
row inserted: ('407', '616-737-3085','616-568-4113')
row inserted: ('408', '601-567-5386','601-637-5479')
row inserted: ('409', '901-640-9178','901-869-4314')
row inserted: ('410', '303-402-1940','303-997-7760')
row inserted: ('411', '901-901-4726','901-739-5892')
row inserted: ('412', '626-866-2339','626-293-7678')
row inserted: ('413', '773-225-9985','773-857-2231')
row inserted: ('414', '718-228-5894','718-728-5051')
row inserted: ('415', '509-755-5393','509-847-3352')
row inserted: ('416', '410-890-7866','410-429-4888')
row inserted: ('417', '973-860-8610','973-605-6492')
row inserted: ('418', '562-579-6900','562-719-7922')
row inserted: ('419', '732-628-9909','732-617-5310')
row inserted: ('420', '973-210-3994','973-491-8723')
row inserted: ('421', '303-776-7548','303-845-5408')
row inserted: ('422', '757-682-7116','757-940-1741')
row inserted: ('423', '602-919-4211','602-442-3092')
row inserted: ('424', '305-968-9487','305-978-2069')
row inserted: ('425', '602-896-2993','602-575-3457')
row inserted: ('426', '386-526-7800','386-599-7296')
row inserted: ('427', '415-331-9634','415-419-1597')
row inserted: ('428', '858-793-9684','858-228-5683')
row inserted: ('429', '201-991-8369','201-772-7699')
row inserted: ('430', '909-430-7765','909-665-3223')
row inserted: ('431', '617-365-2134','617-544-2541')
row inserted: ('432', '760-291-5497','760-261-4786')
row inserted: ('433', '310-510-9713','310-936-2258')
row inserted: ('434', '717-528-8996','717-632-5831')
row inserted: ('435', '480-293-2882','480-866-6544')
row inserted: ('436', '561-470-4574','561-951-9734')
row inserted: ('437', '615-246-1824','615-726-4537')
row inserted: ('438', '859-717-7638','859-308-4286')
row inserted: ('439', '734-561-6170','734-851-8571')
row inserted: ('440', '936-751-7961','936-937-2334')
row inserted: ('441', '973-482-2430','973-644-2974')
row inserted: ('442', '201-693-3967','201-856-2720')
row inserted: ('443', '305-988-4162','305-306-7834')
row inserted: ('444', '931-553-9774','931-486-6946')
row inserted: ('445', '714-771-3880','714-531-1391')
row inserted: ('446', '847-633-3216','847-755-9041')
row inserted: ('447', '215-888-3304','215-351-8523')
row inserted: ('448', '973-654-1561','973-662-8988')
row inserted: ('449', '814-865-8113','814-481-1700')
row inserted: ('450', '801-293-9853','801-892-8781')
row inserted: ('451', '910-922-3672','910-200-7912')
row inserted: ('452', '213-975-8026','213-696-8004')
row inserted: ('453', '517-499-2322','517-867-8077')
row inserted: ('454', '315-818-2638','315-474-5570')
row inserted: ('455', '574-656-2800','574-405-1983')
row inserted: ('456', '407-312-1691','407-472-1332')
row inserted: ('457', '973-751-9003','973-903-4175')
row inserted: ('458', '609-200-8577','609-398-2805')
row inserted: ('459', '608-382-4541','608-302-3387')
row inserted: ('460', '914-861-9748','914-396-2615')
row inserted: ('461', '336-370-5333','336-564-1492')
row inserted: ('462', '410-473-1708','410-522-7621')
row inserted: ('463', '732-730-2692','732-705-6719')
row inserted: ('464', '830-258-2769','830-919-5991')
row inserted: ('465', '847-519-5906','847-740-5304')
row inserted: ('466', '732-605-4781','732-724-7251')
row inserted: ('467', '402-896-5943','402-707-1602')
row inserted: ('468', '703-221-5602','703-874-4248')
row inserted: ('469', '972-558-1665','972-961-4968')
row inserted: ('470', '212-510-4633','212-428-9538')
row inserted: ('471', '516-816-1541','516-749-3188')
row inserted: ('472', '352-598-8301','352-947-6152')
row inserted: ('473', '317-542-6023','317-887-8486')
row inserted: ('474', '816-557-9673','816-329-5565')
row inserted: ('475', '601-234-9632','601-973-5754')
row inserted: ('476', '325-869-2649','325-740-3778')
row inserted: ('477', '408-805-4309','408-997-7490')
row inserted: ('478', '856-312-2629','856-513-7024')
row inserted: ('479', '510-974-8671','510-509-3496')
row inserted: ('480', '407-538-5106','407-564-8113')
row inserted: ('481', '307-403-1488','307-816-7115')
row inserted: ('482', '516-393-9967','516-407-9573')
row inserted: ('483', '608-967-7194','608-586-6912')
row inserted: ('484', '201-431-2989','201-478-8540')
row inserted: ('485', '570-648-3035','570-569-2356')
row inserted: ('486', '858-617-7834','858-732-1884')
row inserted: ('487', '760-616-5388','760-493-9208')
row inserted: ('488', '609-373-3332','609-826-4990')
row inserted: ('489', '401-465-6432','401-893-1820')
row inserted: ('490', '785-347-1805','785-253-7049')
row inserted: ('491', '916-920-3571','916-459-2433')
row inserted: ('492', '386-248-4118','386-208-6976')
row inserted: ('493', '202-646-7516','202-276-6826')
row inserted: ('494', '415-423-3294','415-926-6089')
row inserted: ('495', '208-709-1235','208-206-9848')
row inserted: ('496', '574-499-1454','574-330-1884')
row inserted: ('497', '308-726-2182','308-250-6987')
row inserted: ('498', '206-711-6498','206-395-6284')
row inserted: ('499', '407-413-4842','407-557-8857')

In [11]:
query.execute("select * from phone")

rows = query.fetchall()

for row in rows:
    print(row)

(Decimal('0'), '504-621-8927', '504-845-1427')
(Decimal('1'), '810-292-9388', '810-374-9840')
(Decimal('2'), '856-636-8749', '856-264-4130')
(Decimal('3'), '907-385-4412', '907-921-2010')
(Decimal('4'), '513-570-1893', '513-549-4561')
(Decimal('5'), '419-503-2484', '419-800-6759')
(Decimal('6'), '773-573-6914', '773-924-8565')
(Decimal('7'), '408-752-3500', '408-813-1105')
(Decimal('8'), '605-414-2147', '605-794-4895')
(Decimal('9'), '410-655-8723', '410-804-4694')
(Decimal('10'), '215-874-1229', '215-422-8694')
(Decimal('11'), '631-335-3414', '631-677-3675')
(Decimal('12'), '310-498-5651', '310-254-3084')
(Decimal('13'), '440-780-8425', '440-579-7763')
(Decimal('14'), '956-537-6195', '956-841-7216')
(Decimal('15'), '602-277-4385', '602-953-6360')
(Decimal('16'), '931-313-9635', '931-235-7959')
(Decimal('17'), '414-661-9598', '414-377-2880')
(Decimal('18'), '313-288-7937', '313-341-4470')
(Decimal('19'), '815-828-2147', '815-426-5657')
(Decimal('20'), '610-545-3615', '610-492-4643')
(Decimal('21'), '408-540-1785', '408-813-4592')
(Decimal('22'), '972-303-9197', '972-896-4882')
(Decimal('23'), '518-966-7987', '518-448-8982')
(Decimal('24'), '732-658-3154', '732-635-3453')
(Decimal('25'), '715-662-6764', '715-530-9863')
(Decimal('26'), '913-388-2079', '913-899-1103')
(Decimal('27'), '410-669-1642', '410-235-8738')
(Decimal('28'), '212-582-4976', '212-934-5167')
(Decimal('29'), '936-336-3951', '936-597-3614')
(Decimal('30'), '614-801-9788', '614-648-3265')
(Decimal('31'), '505-977-3911', '505-335-5293')
(Decimal('32'), '201-709-6245', '201-387-9093')
(Decimal('33'), '732-924-7882', '732-782-6701')
(Decimal('34'), '212-860-1579', '212-753-2740')
(Decimal('35'), '504-979-9175', '504-265-8174')
(Decimal('36'), '212-675-8570', '212-569-4233')
(Decimal('37'), '805-832-6163', '805-609-1531')
(Decimal('38'), '210-812-9597', '210-300-6244')
(Decimal('39'), '785-463-7829', '785-219-7724')
(Decimal('40'), '541-548-8197', '541-993-2611')
(Decimal('41'), '913-413-4604', '913-645-8918')
(Decimal('42'), '907-231-4722', '907-335-6568')
(Decimal('43'), '305-606-7291', '305-995-2078')
(Decimal('44'), '907-741-1044', '907-227-6777')
(Decimal('45'), '952-768-2416', '952-479-2375')
(Decimal('46'), '617-399-5124', '617-997-5771')
(Decimal('47'), '323-453-2780', '323-315-7314')
(Decimal('48'), '608-336-7444', '608-658-7940')
(Decimal('49'), '215-907-9111', '215-794-4519')
(Decimal('50'), '212-402-9216', '212-617-5063')
(Decimal('51'), '931-875-6644', '931-303-6041')
(Decimal('52'), '803-925-5213', '803-681-3678')
(Decimal('53'), '610-814-5533', '610-379-7125')
(Decimal('54'), '908-877-6135', '908-470-4661')
(Decimal('55'), '516-968-6051', '516-333-4861')
(Decimal('56'), '215-934-8655', '215-329-6386')
(Decimal('57'), '818-423-4007', '818-749-8650')
(Decimal('58'), '401-458-2547', '401-559-8961')
(Decimal('59'), '215-211-9589', '215-417-9563')
(Decimal('60'), '401-960-8259', '401-300-8122')
(Decimal('61'), '732-234-1546', '732-904-2931')
(Decimal('62'), '512-486-3817', '512-861-3814')
(Decimal('63'), '303-724-7371', '303-874-5160')
(Decimal('64'), '414-748-1374', '414-573-7719')
(Decimal('65'), '212-674-9610', '212-462-9157')
(Decimal('66'), '907-797-9628', '907-873-2882')
(Decimal('67'), '814-393-5571', '814-420-3553')
(Decimal('68'), '410-914-9018', '410-937-4543')
(Decimal('69'), '208-862-5339', '208-737-8439')
(Decimal('70'), '415-315-2761', '415-604-7609')
(Decimal('71'), '919-225-9345', '919-715-3791')
(Decimal('72'), '650-528-5783', '650-811-9032')
(Decimal('73'), '925-647-3298', '925-522-7798')
(Decimal('74'), '740-343-8575', '740-526-5410')
(Decimal('75'), '585-866-8313', '585-498-4278')
(Decimal('76'), '410-520-4832', '410-957-6903')
(Decimal('77'), '973-354-2040', '973-847-9611')
(Decimal('78'), '773-446-5569', '773-352-3437')
(Decimal('79'), '973-927-3447', '973-796-3667')
(Decimal('80'), '505-975-8559', '505-950-1763')
(Decimal('81'), '718-332-6527', '718-654-7063')
(Decimal('82'), '904-775-4480', '904-514-9918')
(Decimal('83'), '510-993-3758', '510-901-7640')
(Decimal('84'), '216-657-7668', '216-733-8494')
(Decimal('85'), '817-914-7518', '817-451-3518')
(Decimal('86'), '310-774-7643', '310-968-1219')
(Decimal('87'), '847-728-7286', '847-957-4614')
(Decimal('88'), '330-537-5358', '330-700-2312')
(Decimal('89'), '215-255-1641', '215-228-8264')
(Decimal('90'), '650-803-1936', '650-216-5075')
(Decimal('91'), '626-572-1096', '626-696-2777')
(Decimal('92'), '254-782-8569', '254-205-1422')
(Decimal('93'), '907-870-5536', '907-914-9482')
(Decimal('94'), '408-703-8505', '408-440-8447')
(Decimal('95'), '510-503-7169', '510-452-4835')
(Decimal('96'), '317-722-5066', '317-472-2412')
(Decimal('97'), '307-704-8713', '307-279-3793')
(Decimal('98'), '703-235-3937', '703-475-7568')
(Decimal('99'), '504-710-5840', '504-946-1807')
(Decimal('100'), '303-301-4946', '303-521-9860')
(Decimal('101'), '510-828-7047', '510-472-7758')
(Decimal('102'), '808-892-7943', '808-475-2310')
(Decimal('103'), '952-334-9408', '952-938-9457')
(Decimal('104'), '336-243-5659', '336-497-4407')
(Decimal('105'), '516-509-2347', '516-365-7266')
(Decimal('106'), '503-939-3153', '503-909-7167')
(Decimal('107'), '608-976-7199', '608-942-8836')
(Decimal('108'), '508-429-8576', '508-843-1426')
(Decimal('109'), '305-385-9695', '305-304-6573')
(Decimal('110'), '814-460-2655', '814-299-2877')
(Decimal('111'), '972-666-3413', '972-742-4000')
(Decimal('112'), '931-273-8709', '931-739-1551')
(Decimal('113'), '973-649-2922', '973-284-4048')
(Decimal('114'), '305-420-8970', '305-575-8481')
(Decimal('115'), '410-224-9462', '410-916-8015')
(Decimal('116'), '805-275-3566', '805-638-6617')
(Decimal('117'), '808-215-6832', '808-240-5168')
(Decimal('118'), '229-735-3378', '229-365-9658')
(Decimal('119'), '617-418-5043', '617-697-6024')
(Decimal('120'), '201-672-1553', '201-995-3149')
(Decimal('121'), '650-933-5072', '650-247-2625')
(Decimal('122'), '909-639-9887', '909-589-1693')
(Decimal('123'), '510-955-3016', '510-755-9274')
(Decimal('124'), '518-497-2940', '518-931-7852')
(Decimal('125'), '570-867-7489', '570-469-8401')
(Decimal('126'), '973-245-2133', '973-818-9788')
(Decimal('127'), '908-409-2890', '908-448-1209')
(Decimal('128'), '321-749-4981', '321-632-4668')
(Decimal('129'), '718-809-3762', '718-478-8568')
(Decimal('130'), '808-315-3077', '808-526-5863')
(Decimal('131'), '303-623-4241', '303-692-3118')
(Decimal('132'), '973-310-1634', '973-225-6259')
(Decimal('133'), '609-524-3586', '609-234-8376')
(Decimal('134'), '908-877-8409', '908-426-8272')
(Decimal('135'), '508-584-4279', '508-315-3867')
(Decimal('136'), '773-775-4522', '773-539-1058')
(Decimal('137'), '503-527-5274', '503-455-3094')
(Decimal('138'), '214-339-1809', '214-225-5850')
(Decimal('139'), '312-303-5453', '312-512-2338')
(Decimal('140'), '419-939-3613', '419-254-4591')
(Decimal('141'), '951-645-3605', '951-248-6822')
(Decimal('142'), '254-463-4368', '254-816-8417')
(Decimal('143'), '615-406-7854', '615-448-9249')
(Decimal('144'), '414-959-2540', '414-838-3151')
(Decimal('145'), '410-387-5260', '410-724-6472')
(Decimal('146'), '972-934-6914', '972-821-7118')
(Decimal('147'), '310-560-8022', '310-969-7230')
(Decimal('148'), '516-948-5768', '516-357-3362')
(Decimal('149'), '609-518-7697', '609-263-9243')
(Decimal('150'), '513-508-7371', '513-418-1566')
(Decimal('151'), '541-326-4074', '541-801-5717')
(Decimal('152'), '919-533-3762', '919-885-2453')
(Decimal('153'), '212-332-8435', '212-880-8865')
(Decimal('154'), '602-906-9419', '602-277-3025')
(Decimal('155'), '317-234-1135', '317-787-5514')
(Decimal('156'), '315-304-4759', '315-640-6357')
(Decimal('157'), '856-487-5412', '856-702-3676')
(Decimal('158'), '516-212-1915', '516-376-4230')
(Decimal('159'), '501-308-1040', '501-409-6072')
(Decimal('160'), '651-591-2583', '651-776-9688')
(Decimal('161'), '215-325-3042', '215-346-4666')
(Decimal('162'), '985-890-7262', '985-261-5783')
(Decimal('163'), '631-957-7624', '631-998-2102')
(Decimal('164'), '916-591-3277', '916-770-7448')
(Decimal('165'), '208-649-2373', '208-690-3315')
(Decimal('166'), '512-587-5746', '512-528-9933')
(Decimal('167'), '215-964-3284', '215-417-5612')
(Decimal('168'), '808-477-4775', '808-746-1865')
(Decimal('169'), '775-501-8109', '775-848-9135')
(Decimal('170'), '847-979-9545', '847-800-3054')
(Decimal('171'), '973-545-7355', '973-868-8660')
(Decimal('172'), '864-256-3620', '864-594-4578')
(Decimal('173'), '410-209-9545', '410-863-8263')
(Decimal('174'), '914-855-2115', '914-796-3775')
(Decimal('175'), '212-260-3151', '212-253-7448')
(Decimal('176'), '510-677-9785', '510-942-5916')
(Decimal('177'), '978-697-6263', '978-289-7717')
(Decimal('178'), '415-767-6596', '415-712-9530')
(Decimal('179'), '201-971-1638', '201-247-8925')
(Decimal('180'), '925-634-7158', '925-541-8521')
(Decimal('181'), '773-494-4195', '773-297-9391')
(Decimal('182'), '973-943-3423', '973-582-5469')
(Decimal('183'), '419-544-4900', '419-573-2033')
(Decimal('184'), '310-579-2907', '310-694-8466')
(Decimal('185'), '352-242-2570', '352-990-5946')
(Decimal('186'), '408-758-5015', '408-346-2180')
(Decimal('187'), '570-889-5187', '570-355-1665')
(Decimal('188'), '201-588-7810', '201-858-9960')
(Decimal('189'), '925-615-5185', '925-943-3449')
(Decimal('190'), '908-802-3564', '908-602-5258')
(Decimal('191'), '631-748-6479', '631-291-4976')
(Decimal('192'), '805-690-1682', '805-810-8964')
(Decimal('193'), '908-275-8357', '908-943-6103')
(Decimal('194'), '503-940-8327', '503-707-5812')
(Decimal('195'), '503-516-2189', '503-950-3068')
(Decimal('196'), '856-305-9731', '856-828-6021')
(Decimal('197'), '770-507-8791', '770-802-4003')
(Decimal('198'), '904-235-3633', '904-627-4341')
(Decimal('199'), '207-458-9196', '207-233-6185')
(Decimal('200'), '817-765-5781', '817-577-6151')
(Decimal('201'), '716-752-4114', '716-854-9845')
(Decimal('202'), '305-670-9628', '305-857-5489')
(Decimal('203'), '212-313-1783', '212-778-3063')
(Decimal('204'), '215-605-7570', '215-511-3531')
(Decimal('205'), '850-430-1663', '850-330-8079')
(Decimal('206'), '415-306-7897', '415-874-2984')
(Decimal('207'), '408-504-3552', '408-425-1994')
(Decimal('208'), '650-947-1215', '650-960-1069')
(Decimal('209'), '818-864-4875', '818-481-5787')
(Decimal('210'), '215-558-8189', '215-483-3003')
(Decimal('211'), '337-253-8384', '337-774-7564')
(Decimal('212'), '313-533-4884', '313-390-7855')
(Decimal('213'), '512-213-8574', '512-693-8345')
(Decimal('214'), '214-428-2285', '214-529-1949')
(Decimal('215'), '206-697-5796', '206-389-1482')
(Decimal('216'), '610-476-3501', '610-752-2683')
(Decimal('217'), '215-372-1718', '215-829-4221')
(Decimal('218'), '310-858-5079', '310-499-4200')
(Decimal('219'), '707-653-8214', '707-881-3154')
(Decimal('220'), '407-808-9439', '407-945-8566')
(Decimal('221'), '760-971-4322', '760-465-4762')
(Decimal('222'), '508-837-9230', '508-504-6388')
(Decimal('223'), '936-264-9294', '936-988-8171')
(Decimal('224'), '414-214-8697', '414-411-5744')
(Decimal('225'), '626-636-4117', '626-638-4241')
(Decimal('226'), '914-300-9193', '914-654-1426')
(Decimal('227'), '214-289-1973', '214-785-6750')
(Decimal('228'), '228-235-5615', '228-432-4635')
(Decimal('229'), '305-604-8981', '305-287-4743')
(Decimal('230'), '212-304-9225', '212-311-6377')
(Decimal('231'), '201-474-4924', '201-365-8698')
(Decimal('232'), '734-928-5182', '734-408-8174')
(Decimal('233'), '631-258-6558', '631-295-9879')
(Decimal('234'), '330-791-8557', '330-618-2579')
(Decimal('235'), '203-506-4706', '203-840-8634')
(Decimal('236'), '703-322-4041', '703-938-7939')
(Decimal('237'), '978-626-2978', '978-679-7429')
(Decimal('238'), '419-693-1334', '419-313-5571')
(Decimal('239'), '253-660-7821', '253-875-9222')
(Decimal('240'), '916-741-7884', '916-289-4526')
(Decimal('241'), '307-342-7795', '307-453-7589')
(Decimal('242'), '207-627-7565', '207-297-5029')
(Decimal('243'), '215-491-5633', '215-647-2158')
(Decimal('244'), '813-769-2939', '813-863-6467')
(Decimal('245'), '619-608-1763', '619-695-8086')
(Decimal('246'), '979-718-8968', '979-809-5770')
(Decimal('247'), '847-233-3075', '847-265-6609')
(Decimal('248'), '609-228-5265', '609-854-7156')
(Decimal('249'), '908-722-7128', '908-670-4712')
(Decimal('250'), '718-560-9537', '718-280-4183')
(Decimal('251'), '314-787-1588', '314-858-4832')
(Decimal('252'), '209-317-1801', '209-242-7022')
(Decimal('253'), '973-936-5095', '973-822-8827')
(Decimal('254'), '317-578-2453', '317-441-5848')
(Decimal('255'), '206-540-6076', '206-295-5631')
(Decimal('256'), '336-822-7652', '336-467-3095')
(Decimal('257'), '785-629-8542', '785-616-1685')
(Decimal('258'), '407-471-6908', '407-429-2145')

(Decimal('259'), '612-508-2655', '612-664-6304')
(Decimal('260'), '803-352-5387', '803-975-3405')
(Decimal('261'), '707-300-1771', '707-821-8037')
(Decimal('262'), '847-222-1734', '847-556-2909')
(Decimal('263'), '949-867-4077', '949-903-3898')
(Decimal('264'), '303-404-2210', '303-794-1341')
(Decimal('265'), '203-801-6193', '203-801-8497')
(Decimal('266'), '425-986-7573', '425-700-3751')
(Decimal('267'), '440-989-5826', '440-327-2093')
(Decimal('268'), '603-315-6839', '603-745-7497')
(Decimal('269'), '321-518-5938', '321-597-2159')
(Decimal('270'), '212-792-8658', '212-782-3493')
(Decimal('271'), '714-584-2237', '714-698-2170')
(Decimal('272'), '248-913-4677', '248-793-4966')
(Decimal('273'), '317-825-4724', '317-342-1532')
(Decimal('274'), '940-276-7922', '940-302-3036')
(Decimal('275'), '203-721-3388', '203-564-1543')
(Decimal('276'), '410-739-9277', '410-259-2118')
(Decimal('277'), '504-463-4384', '504-635-8518')
(Decimal('278'), '804-550-5097', '804-858-1011')
(Decimal('279'), '215-979-8776', '215-846-9046')
(Decimal('280'), '952-651-7597', '952-906-4597')
(Decimal('281'), '305-936-8226', '305-573-1085')
(Decimal('282'), '414-263-5287', '414-660-9766')
(Decimal('283'), '732-941-2621', '732-445-6940')
(Decimal('284'), '701-898-2154', '701-421-7080')
(Decimal('285'), '775-638-9963', '775-578-1214')
(Decimal('286'), '602-954-5141', '602-304-6433')
(Decimal('287'), '615-390-2251', '615-825-4297')
(Decimal('288'), '410-351-1863', '410-951-2667')
(Decimal('289'), '212-870-1286', '212-745-6948')
(Decimal('290'), '806-703-1435', '806-558-5848')
(Decimal('291'), '323-765-2528', '323-842-8226')
(Decimal('292'), '619-509-5282', '619-666-4765')
(Decimal('293'), '770-732-1194', '770-531-2842')
(Decimal('294'), '508-769-5250', '508-502-5634')
(Decimal('295'), '269-756-7222', '269-431-9464')
(Decimal('296'), '973-714-1721', '973-976-8627')
(Decimal('297'), '337-740-9323', '337-751-2326')
(Decimal('298'), '717-491-5643', '717-583-1497')
(Decimal('299'), '314-359-9566', '314-231-3514')
(Decimal('300'), '817-213-8851', '817-947-9480')
(Decimal('301'), '813-932-8715', '813-357-7296')
(Decimal('302'), '770-679-4752', '770-930-9967')
(Decimal('303'), '760-938-6069', '760-745-2649')
(Decimal('304'), '517-906-1108', '517-747-7664')
(Decimal('305'), '602-390-4944', '602-330-6894')
(Decimal('306'), '207-295-7569', '207-748-3722')
(Decimal('307'), '301-696-6420', '301-392-6698')
(Decimal('308'), '717-809-3119', '717-344-2804')
(Decimal('309'), '972-419-7946', '972-898-1033')
(Decimal('310'), '406-318-1515', '406-374-7752')
(Decimal('311'), '973-767-3008', '973-563-9502')
(Decimal('312'), '248-980-6904', '248-697-7722')
(Decimal('313'), '216-923-3715', '216-270-9653')
(Decimal('314'), '325-631-1560', '325-667-7868')
(Decimal('315'), '817-526-4408', '817-819-7799')
(Decimal('316'), '718-201-3751', '718-732-9475')
(Decimal('317'), '401-893-4882', '401-885-7681')
(Decimal('318'), '717-885-9118', '717-686-7564')
(Decimal('319'), '401-948-4982', '401-552-9059')
(Decimal('320'), '305-622-4739', '305-302-1135')
(Decimal('321'), '201-832-4168', '201-412-3040')
(Decimal('322'), '210-856-4979', '210-634-2447')
(Decimal('323'), '718-478-8504', '718-853-3740')
(Decimal('324'), '909-993-3242', '909-631-5703')
(Decimal('325'), '216-230-4892', '216-937-5320')
(Decimal('326'), '212-304-4515', '212-225-9676')
(Decimal('327'), '804-762-9576', '804-808-9574')
(Decimal('328'), '706-221-4243', '706-616-5131')
(Decimal('329'), '337-515-1438', '337-991-8070')
(Decimal('330'), '973-544-2677', '973-986-4456')
(Decimal('331'), '607-407-3716', '607-350-7690')
(Decimal('332'), '973-412-2995', '973-355-2120')
(Decimal('333'), '208-252-4552', '208-793-4108')
(Decimal('334'), '415-411-1775', '415-284-2730')
(Decimal('335'), '508-942-4186', '508-618-7826')
(Decimal('336'), '248-357-8718', '248-811-5696')
(Decimal('337'), '920-353-6377', '920-355-1610')
(Decimal('338'), '410-665-4903', '410-773-3862')
(Decimal('339'), '719-669-1664', '719-547-9543')
(Decimal('340'), '419-588-8719', '419-399-1744')
(Decimal('341'), '301-998-9644', '301-257-4883')
(Decimal('342'), '508-855-9887', '508-897-7916')
(Decimal('343'), '703-483-1970', '703-892-2914')
(Decimal('344'), '410-678-2473', '410-912-6032')
(Decimal('345'), '512-223-4791', '512-742-1149')
(Decimal('346'), '623-461-8551', '623-426-4907')
(Decimal('347'), '419-571-5920', '419-488-6648')
(Decimal('348'), '206-311-4137', '206-923-6042')
(Decimal('349'), '513-617-2362', '513-747-9603')
(Decimal('350'), '812-368-1511', '812-442-8544')
(Decimal('351'), '847-353-2156', '847-613-5866')
(Decimal('352'), '718-232-2337', '718-394-4974')
(Decimal('353'), '407-446-4358', '407-808-3254')
(Decimal('354'), '310-820-2117', '310-652-2379')
(Decimal('355'), '813-797-4816', '813-744-7100')
(Decimal('356'), '915-452-1290', '915-300-6100')
(Decimal('357'), '619-603-5125', '619-935-6661')
(Decimal('358'), '301-841-5012', '301-591-3034')
(Decimal('359'), '714-523-6653', '714-663-9740')
(Decimal('360'), '314-732-9131', '314-697-3652')
(Decimal('361'), '512-233-1831', '512-942-3411')
(Decimal('362'), '336-670-2640', '336-364-6037')
(Decimal('363'), '631-443-4710', '631-288-2866')
(Decimal('364'), '201-825-2514', '201-749-8866')
(Decimal('365'), '901-412-4381', '901-573-9024')
(Decimal('366'), '404-505-4445', '404-607-8435')
(Decimal('367'), '650-473-1262', '650-749-9879')
(Decimal('368'), '952-702-7993', '952-314-5871')
(Decimal('369'), '480-726-1280', '480-205-5121')
(Decimal('370'), '718-976-8610', '718-613-9994')
(Decimal('371'), '770-844-3447', '770-584-4119')
(Decimal('372'), '507-210-3510', '507-590-5237')
(Decimal('373'), '203-461-1949', '203-938-2557')
(Decimal('374'), '260-273-3725', '260-382-4869')
(Decimal('375'), '601-927-8287', '601-249-4511')
(Decimal('376'), '586-970-7380', '586-247-1614')
(Decimal('377'), '719-853-3600', '719-223-2074')
(Decimal('378'), '212-745-8484', '212-422-5427')
(Decimal('379'), '510-686-3407', '510-441-4055')
(Decimal('380'), '773-704-9903', '773-359-6109')
(Decimal('381'), '570-218-4831', '570-868-8688')
(Decimal('382'), '530-986-9272', '530-399-3254')
(Decimal('383'), '845-823-8877', '845-694-7919')
(Decimal('384'), '216-600-6111', '216-871-6876')
(Decimal('385'), '973-852-2736', '973-473-5108')
(Decimal('386'), '907-435-9166', '907-770-3542')
(Decimal('387'), '215-268-1275', '215-380-8820')
(Decimal('388'), '513-977-7043', '513-863-9471')
(Decimal('389'), '310-699-1222', '310-955-5788')
(Decimal('390'), '515-370-7348', '515-372-1738')
(Decimal('391'), '610-809-1818', '610-378-7332')
(Decimal('392'), '919-623-2524', '919-254-5987')
(Decimal('393'), '509-695-5199', '509-595-6485')
(Decimal('394'), '914-868-5965', '914-883-3061')
(Decimal('395'), '410-757-1035', '410-234-2267')
(Decimal('396'), '516-847-4418', '516-732-6649')
(Decimal('397'), '508-456-4907', '508-658-7802')
(Decimal('398'), '918-644-9555', '918-565-1706')
(Decimal('399'), '231-467-9978', '231-265-6940')
(Decimal('400'), '337-566-6001', '337-255-3427')
(Decimal('401'), '419-975-3182', '419-417-4674')
(Decimal('402'), '619-461-9984', '619-727-3892')
(Decimal('403'), '203-892-3863', '203-918-3939')
(Decimal('404'), '201-920-9002', '201-969-7063')
(Decimal('405'), '330-903-1345', '330-566-8898')
(Decimal('406'), '201-238-5688', '201-772-4377')
(Decimal('407'), '616-737-3085', '616-568-4113')
(Decimal('408'), '601-567-5386', '601-637-5479')
(Decimal('409'), '901-640-9178', '901-869-4314')
(Decimal('410'), '303-402-1940', '303-997-7760')
(Decimal('411'), '901-901-4726', '901-739-5892')
(Decimal('412'), '626-866-2339', '626-293-7678')
(Decimal('413'), '773-225-9985', '773-857-2231')
(Decimal('414'), '718-228-5894', '718-728-5051')
(Decimal('415'), '509-755-5393', '509-847-3352')
(Decimal('416'), '410-890-7866', '410-429-4888')
(Decimal('417'), '973-860-8610', '973-605-6492')
(Decimal('418'), '562-579-6900', '562-719-7922')
(Decimal('419'), '732-628-9909', '732-617-5310')
(Decimal('420'), '973-210-3994', '973-491-8723')
(Decimal('421'), '303-776-7548', '303-845-5408')
(Decimal('422'), '757-682-7116', '757-940-1741')
(Decimal('423'), '602-919-4211', '602-442-3092')
(Decimal('424'), '305-968-9487', '305-978-2069')
(Decimal('425'), '602-896-2993', '602-575-3457')
(Decimal('426'), '386-526-7800', '386-599-7296')
(Decimal('427'), '415-331-9634', '415-419-1597')
(Decimal('428'), '858-793-9684', '858-228-5683')
(Decimal('429'), '201-991-8369', '201-772-7699')
(Decimal('430'), '909-430-7765', '909-665-3223')
(Decimal('431'), '617-365-2134', '617-544-2541')
(Decimal('432'), '760-291-5497', '760-261-4786')
(Decimal('433'), '310-510-9713', '310-936-2258')
(Decimal('434'), '717-528-8996', '717-632-5831')
(Decimal('435'), '480-293-2882', '480-866-6544')
(Decimal('436'), '561-470-4574', '561-951-9734')
(Decimal('437'), '615-246-1824', '615-726-4537')
(Decimal('438'), '859-717-7638', '859-308-4286')
(Decimal('439'), '734-561-6170', '734-851-8571')
(Decimal('440'), '936-751-7961', '936-937-2334')
(Decimal('441'), '973-482-2430', '973-644-2974')
(Decimal('442'), '201-693-3967', '201-856-2720')
(Decimal('443'), '305-988-4162', '305-306-7834')
(Decimal('444'), '931-553-9774', '931-486-6946')
(Decimal('445'), '714-771-3880', '714-531-1391')
(Decimal('446'), '847-633-3216', '847-755-9041')
(Decimal('447'), '215-888-3304', '215-351-8523')
(Decimal('448'), '973-654-1561', '973-662-8988')
(Decimal('449'), '814-865-8113', '814-481-1700')
(Decimal('450'), '801-293-9853', '801-892-8781')
(Decimal('451'), '910-922-3672', '910-200-7912')
(Decimal('452'), '213-975-8026', '213-696-8004')
(Decimal('453'), '517-499-2322', '517-867-8077')
(Decimal('454'), '315-818-2638', '315-474-5570')
(Decimal('455'), '574-656-2800', '574-405-1983')
(Decimal('456'), '407-312-1691', '407-472-1332')
(Decimal('457'), '973-751-9003', '973-903-4175')
(Decimal('458'), '609-200-8577', '609-398-2805')
(Decimal('459'), '608-382-4541', '608-302-3387')
(Decimal('460'), '914-861-9748', '914-396-2615')
(Decimal('461'), '336-370-5333', '336-564-1492')
(Decimal('462'), '410-473-1708', '410-522-7621')
(Decimal('463'), '732-730-2692', '732-705-6719')
(Decimal('464'), '830-258-2769', '830-919-5991')
(Decimal('465'), '847-519-5906', '847-740-5304')
(Decimal('466'), '732-605-4781', '732-724-7251')
(Decimal('467'), '402-896-5943', '402-707-1602')
(Decimal('468'), '703-221-5602', '703-874-4248')
(Decimal('469'), '972-558-1665', '972-961-4968')
(Decimal('470'), '212-510-4633', '212-428-9538')
(Decimal('471'), '516-816-1541', '516-749-3188')
(Decimal('472'), '352-598-8301', '352-947-6152')
(Decimal('473'), '317-542-6023', '317-887-8486')
(Decimal('474'), '816-557-9673', '816-329-5565')
(Decimal('475'), '601-234-9632', '601-973-5754')
(Decimal('476'), '325-869-2649', '325-740-3778')
(Decimal('477'), '408-805-4309', '408-997-7490')
(Decimal('478'), '856-312-2629', '856-513-7024')
(Decimal('479'), '510-974-8671', '510-509-3496')
(Decimal('480'), '407-538-5106', '407-564-8113')
(Decimal('481'), '307-403-1488', '307-816-7115')
(Decimal('482'), '516-393-9967', '516-407-9573')
(Decimal('483'), '608-967-7194', '608-586-6912')
(Decimal('484'), '201-431-2989', '201-478-8540')
(Decimal('485'), '570-648-3035', '570-569-2356')
(Decimal('486'), '858-617-7834', '858-732-1884')
(Decimal('487'), '760-616-5388', '760-493-9208')
(Decimal('488'), '609-373-3332', '609-826-4990')
(Decimal('489'), '401-465-6432', '401-893-1820')
(Decimal('490'), '785-347-1805', '785-253-7049')
(Decimal('491'), '916-920-3571', '916-459-2433')
(Decimal('492'), '386-248-4118', '386-208-6976')
(Decimal('493'), '202-646-7516', '202-276-6826')
(Decimal('494'), '415-423-3294', '415-926-6089')
(Decimal('495'), '208-709-1235', '208-206-9848')
(Decimal('496'), '574-499-1454', '574-330-1884')
(Decimal('497'), '308-726-2182', '308-250-6987')
(Decimal('498'), '206-711-6498', '206-395-6284')
(Decimal('499'), '407-413-4842', '407-557-8857')

In [12]:
query.execute("select users.first_name, users.last_name from userdetails users order by first_name limit 10")
rows = query.fetchall()

for row in rows:
    print(row)

('Abel', 'Maclead')
('Adelina', 'Nabours')
('Adell', 'Lipkin')
('Ahmed', 'Angalich')
('Aja', 'Gehrett')
('Alaine', 'Bergesen')
('Albina', 'Glick')
('Alease', 'Buemi')
('Alecia', 'Bubash')
('Alesia', 'Hixenbaugh')